
<div class="row">
  <div class="small-12 column">
    <h1>Sign Up</h1>
    <form>
      <md-input-container>
        <label>Email Address</label>
        <md-input type="email" v-model="email"></md-input>
      </md-input-container>
      <md-input-container>
        <label>Password</label>
        <md-input type="password" v-model="password"></md-input>
      </md-input-container>
      <md-input-container>
        <label>Confirm Password</label>
        <md-input type="password" v-model="confirm"></md-input>
      </md-input-container>
      <div class="float-right clearfix">
        <md-button type="button" class="md-raised" v-on:click="setView('login')">Log In</md-button>
        <md-button type="submit" class="md-raised md-primary">Sign Up</md-button>
      </div>
      <a class="form-link" v-on:click="setView('passwordReset')">forgot password?</a>
    </form>
  </div>
</div>
