

@mixin sw-button($color) {
  color: $color;
  border-color: $color;
  background-color: rgba($color, 0.1);

  &:hover, &:focus {
    outline: 0;
    background-color: rgba($color, 0.2);
  }

  &:focus {
    box-shadow: 0 0 10px $color inset;
  }

  &:active {
    background-color: rgba($color, 0.4);
    box-shadow: 0 0 10px $color inset;
  }

  &:hover, &:focus, &:active {
    color: $color;
  }

}

button, .button {
  text-transform: uppercase;
  border-style: solid;
  border-width: 2px;
  border-radius: 2px;
  @include sw-button($primaryColor);

  &.secondary {
    @include sw-button($secondaryColor);
  }

  &.alert {
    @include sw-button($alertColor);
  }

  &.success {
    @include sw-button($successColor);
  }

  &.warning {
    @include sw-button($warningColor);
  }

  &.info {
    @include sw-button($infoColor);
  }
}


