

.controls {
  text-align: right;
  margin: rem-calc(10) 0;

  label {
    text-align: left;
  }

  button {
    display: inline-block;
    margin-bottom: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}
