

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="color"],
textarea {
  opacity: $inputOpacity;
  transition: $inputTransition;

  &:focus, &:hover {
    opacity: $inputFocusOpacity;
  }

  &:focus {
    box-shadow: 0 0 10px $inputFocusBorderColor inset;
  }
}

