
.game-screen {
  height: 100%;

  > div {
    height: 100%;
    display: flex;
    flex-flow: column;
    padding: 0 ($columnGutter / 2) ($columnGutter / 2);

    > .controls + .sw-panel {
      display: flex;
      flex: 1;
      flex-flow: column;
      margin-bottom: 0;

      .sw-panel-head, .sw-panel-foot {
        flex-shrink: 0;
      }

      .sw-panel-content {
        flex: 1;
        display: flex;

        div[slot="content"] {
          display: flex;
          flex-flow: column;
          width: 100%;

          > .tabs {
            display: flex;
            flex-flow: column;

            .tab-content {
              display: flex;

              .tab {
                display: flex;
                flex-flow: column;
                width: 100%;
              }
            }
          }
        }
      }
    }
  }
}
