
$icon-size: 20px;

.icon-image {
  width: $icon-size;
  height: $icon-size;
  fill: $primaryColor;

  &[class*="die-"] {
    fill: $black;
  }

  &.dice-dark-side, &.dice-light-side, &.force-point {
    fill: $white;
  }
}

