
/* Settings
-------------------------------- */

$swPanelBgColor: $panelBgColor;
$swPanelBgOpacity: $panelBgOpacity;
$swPanelBevelSizeNum: $panelBevelSizeNum;
$swPanelBorderColor: $panelBorderColor;
$swPanelBorderNum: $interfaceBorderNum;

/* Styling
-------------------------------- */

.sw-panel {
  margin-bottom: rem-calc(20);

  .sw-panel-head {
    @include flex-panel-header($swPanelBorderNum, $swPanelBorderColor, $swPanelBgColor, $swPanelBgOpacity, $swPanelBevelSizeNum);
  }

  .sw-panel-content, .sw-panel-header {
    @include flex-panel-content($swPanelBorderNum, $swPanelBorderColor, $swPanelBgColor, $swPanelBgOpacity, $swPanelBevelSizeNum);
  }

  .sw-panel-foot {
    @include flex-panel-footer($swPanelBorderNum, $swPanelBorderColor, $swPanelBgColor, $swPanelBgOpacity, $swPanelBevelSizeNum);
  }

}
