
$ccScrollBarGutter: rem-calc(21);


.character-creator-component {

  .sw-panel-content {
    position: relative;
    padding-right: $panelBevelSize - $ccScrollBarGutter;

    div[slot="content"] {
      display: flex;
      flex: 1;
      padding-right: 0;

      .step {
        flex: 2;
        display: flex;
        flex-flow: column;

        .step-content {
          flex: 1 1 auto;
          overflow-y: auto;
          padding-right: $ccScrollBarGutter;
          margin: rem-calc(10) 0 rem-calc(20);
        }

        .step-controls {
          flex: 0 1 auto;
          width: 100%;
          padding-right: $ccScrollBarGutter;

          button {
            margin: 0;
          }
        }
      }
    }
  }
}
