
.destiny-tokens {
  margin-top: 10px;
  display: inline-block;

  .token-pool {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;
    z-index: 1;

    svg.icon-image {
      position: absolute;
      top: 5px;
      left: 17.5px;
      transition: all 0.3s ease;
      cursor: -webkit-grab;
      cursor: grab;
    }
  }
}
