
<div class="destiny-tokens">
  <div class="light-side-tokens" @click="useToken('light')">
    <transition-group name="fade">
      <component
        is="token"
        type="light"
        v-for="n in light"
        key="n"
        :index="n"
        :total-tokens="light"
        :spacing="6">
      </component>
    </transition-group>
  </div>
  <div class="dark-side-tokens" @click="useToken('dark')">
    <transition-group name="fade">
      <component
        is="token"
        type="dark"
        v-for="n in dark"
        key="n"
        :index="n"
        :total-tokens="dark"
        :spacing="6">
      </component>
    </transition-group>
  </div>
</div>
