
<div class="npc-menu">
  <transition name="slide-fade" mode="out-in" appear>

    <section v-if="view === 'new'">
      <h3>New NPC</h3>
      <form @submit.stop.prevent="addNpc">
        <div class="row">
          <div class="small-12 medium-4 column">
            <img :src="npcFormImage" />
          </div>
          <div class="small-12 medium-8 column">
            <md-input-container :class="{'md-input-invalid': npcForm.fields.name.hasErrors}">
              <label>Name</label>
              <md-input type="text" v-model="npcForm.fields.name.value"></md-input>
              <span class="md-error" v-show="npcForm.fields.name.hasErrors">{{ npcForm.fields.name.errors[0] }}</span>
            </md-input-container>
            <md-input-container :class="{'md-input-invalid': npcForm.fields.imageUrl.hasErrors}">
              <label>Image URL</label>
              <md-input type="text" v-model="npcForm.fields.imageUrl.value"></md-input>
              <span class="md-error" v-show="npcForm.fields.imageUrl.hasErrors">{{ npcForm.fields.imageUrl.errors[0] }}</span>
            </md-input-container>
            <md-input-container :class="{'md-input-invalid': npcForm.fields.type.hasErrors}">
              <label>Type</label>
              <md-select v-model="npcForm.fields.type.value">
                <md-option value="minion">Minion</md-option>
                <md-option value="rival">Rival</md-option>
                <md-option value="nemesis">Nemesis</md-option>
              </md-select>
              <span class="md-error" v-show="npcForm.fields.type.hasErrors">{{ npcForm.fields.type.errors[0] }}</span>
            </md-input-container>
            <md-input-container :class="{'md-input-invalid': npcForm.fields.description.hasErrors}">
              <label>Description</label>
              <md-textarea v-model="npcForm.fields.description.value"></md-textarea>
              <span class="md-error" v-show="npcForm.fields.description.hasErrors">{{ npcForm.fields.description.errors[0] }}</span>
            </md-input-container>
          </div>
        </div>

        <h4 class="button-header">Statistics</h4>
        <div class="row small-up-6">
          <div class="column">
            <md-input-container :class="{'md-input-invalid': npcForm.fields.brawn.hasErrors}">
              <label>Brawn</label>
              <md-input type="number" v-model="npcForm.fields.brawn.value"></md-input>
              <span class="md-error" v-show="npcForm.fields.brawn.hasErrors">{{ npcForm.fields.brawn.errors[0] }}</span>
            </md-input-container>
          </div>
          <div class="column">
            <md-input-container :class="{'md-input-invalid': npcForm.fields.agility.hasErrors}">
              <label>Agility</label>
              <md-input type="number" v-model="npcForm.fields.agility.value"></md-input>
              <span class="md-error" v-show="npcForm.fields.agility.hasErrors">{{ npcForm.fields.agility.errors[0] }}</span>
            </md-input-container>
          </div>
          <div class="column">
            <md-input-container :class="{'md-input-invalid': npcForm.fields.intellect.hasErrors}">
              <label>Intellect</label>
              <md-input type="number" v-model="npcForm.fields.intellect.value"></md-input>
              <span class="md-error" v-show="npcForm.fields.intellect.hasErrors">{{ npcForm.fields.intellect.errors[0] }}</span>
            </md-input-container>
          </div>
          <div class="column">
            <md-input-container :class="{'md-input-invalid': npcForm.fields.cunning.hasErrors}">
              <label>Cunning</label>
              <md-input type="number" v-model="npcForm.fields.cunning.value"></md-input>
              <span class="md-error" v-show="npcForm.fields.cunning.hasErrors">{{ npcForm.fields.cunning.errors[0] }}</span>
            </md-input-container>
          </div>
          <div class="column">
            <md-input-container :class="{'md-input-invalid': npcForm.fields.willpower.hasErrors}">
              <label>Willpower</label>
              <md-input type="number" v-model="npcForm.fields.willpower.value"></md-input>
              <span class="md-error" v-show="npcForm.fields.willpower.hasErrors">{{ npcForm.fields.willpower.errors[0] }}</span>
            </md-input-container>
          </div>
          <div class="column">
            <md-input-container :class="{'md-input-invalid': npcForm.fields.presence.hasErrors}">
              <label>Presence</label>
              <md-input type="number" v-model="npcForm.fields.presence.value"></md-input>
              <span class="md-error" v-show="npcForm.fields.presence.hasErrors">{{ npcForm.fields.presence.errors[0] }}</span>
            </md-input-container>
          </div>
        </div>

        <h4 class="button-header">Combat</h4>
        <div class="row small-up-5">
          <div class="column">
            <md-input-container :class="{'md-input-invalid': npcForm.fields.soak.hasErrors}">
              <label>Soak</label>
              <md-input type="number" v-model="npcForm.fields.soak.value"></md-input>
              <span class="md-error" v-show="npcForm.fields.soak.hasErrors">{{ npcForm.fields.soak.errors[0] }}</span>
            </md-input-container>
          </div>
          <div class="column">
            <md-input-container :class="{'md-input-invalid': npcForm.fields.woundThreshold.hasErrors}">
              <label>Wound Threshold</label>
              <md-input type="number" v-model="npcForm.fields.woundThreshold.value"></md-input>
              <span class="md-error" v-show="npcForm.fields.woundThreshold.hasErrors">{{ npcForm.fields.woundThreshold.errors[0] }}</span>
            </md-input-container>
          </div>
          <div class="column">
            <md-input-container :class="{'md-input-invalid': npcForm.fields.strainThreshold.hasErrors}">
              <label>Strain Threshold</label>
              <md-input type="number" v-model="npcForm.fields.strainThreshold.value"></md-input>
              <span class="md-error" v-show="npcForm.fields.strainThreshold.hasErrors">{{ npcForm.fields.strainThreshold.errors[0] }}</span>
            </md-input-container>
          </div>
          <div class="column">
            <md-input-container :class="{'md-input-invalid': npcForm.fields.defenseMelee.hasErrors}">
              <label>Defense (M)</label>
              <md-input type="number" v-model="npcForm.fields.defenseMelee.value"></md-input>
              <span class="md-error" v-show="npcForm.fields.defenseMelee.hasErrors">{{ npcForm.fields.defenseMelee.errors[0] }}</span>
            </md-input-container>
          </div>
          <div class="column">
            <md-input-container :class="{'md-input-invalid': npcForm.fields.defenseRanged.hasErrors}">
              <label>Defense (R)</label>
              <md-input type="number" v-model="npcForm.fields.defenseRanged.value"></md-input>
              <span class="md-error" v-show="npcForm.fields.defenseRanged.hasErrors">{{ npcForm.fields.defenseRanged.errors[0] }}</span>
            </md-input-container>
          </div>
        </div>

        <h4 class="button-header">Skills</h4>
        <div class="row">
          <div class="column small-6">
            <md-list>
              <skill-editor
                v-for="(skill, index) in npcForm.fields.skills.value"
                v-if="index < npcForm.fields.skills.value.length / 2"
                :skill="skill"
                @increment="incrementNewNpcSkill"
                @decrement="decrementNewNpcSkill">
              </skill-editor>
            </md-list>
          </div>
          <div class="column small-6">
            <md-list>
              <skill-editor
                v-for="(skill, index) in npcForm.fields.skills.value"
                v-if="index >= npcForm.fields.skills.value.length / 2"
                :skill="skill"
                @increment="incrementNewNpcSkill"
                @decrement="decrementNewNpcSkill">
              </skill-editor>
            </md-list>
          </div>
        </div>

        <md-table-card>
          <md-toolbar>
            <h1 class="md-title">Talents &amp; Abilities</h1>
            <md-button class="float-right md-icon-button" @click="addTalent">
              <md-icon>add</md-icon>
              <md-tooltip md-direction="left">Add Talent</md-button>
            </md-button>
          </md-toolbar>
          <md-table>
            <md-table-header v-if="npcForm.fields.talents.value.length > 0">
              <md-table-row>
                <md-table-head width="300px">Name</md-table-head>
                <md-table-head>Description</md-table-head>
                <md-table-head width="36px"></md-table-head>
              </md-table-row>
            </md-table-header>
            <md-table-body>
              <md-table-row v-for="talent in npcForm.fields.talents.value" :key="talent.id">
                <md-table-cell>
                  <content-editable v-model="talent.name" v-focus></content-editable>
                </md-table-cell>
                <md-table-cell>
                  <content-editable v-model="talent.description"></content-editable>
                </md-table-cell>
                <md-table-cell>
                  <md-button class="md-icon-button" @click="removeTalent(talent.id)">
                    <md-icon>delete</md-icon>
                  </md-button>
                </md-table-cell>
              </md-table-row>
            </md-table-body>
          </md-table>
        </md-table-card>

        <md-table-card>
          <md-toolbar>
            <h1 class="md-title">Force Powers</h1>
            <md-button class="float-right md-icon-button" @click="addForcePower">
              <md-icon>add</md-icon>
              <md-tooltip md-direction="left">Add Force Power</md-button>
            </md-button>
          </md-toolbar>
          <md-table v-if="npcForm.fields.powers.value.length > 0">
            <md-table-header>
              <md-table-row>
                <md-table-head width="300px">Name</md-table-head>
                <md-table-head>Description</md-table-head>
                <md-table-head width="36px"></md-table-head>
              </md-table-row>
            </md-table-header>
          </md-table>
          <md-table v-for="power in npcForm.fields.powers.value" :key="power.id">
            <md-table-body>
              <md-table-row>
                <md-table-cell width="300px">
                  <content-editable v-model="power.name" v-focus></content-editable>
                </md-table-cell>
                <md-table-cell>
                  <content-editable v-model="power.description"></content-editable>
                </md-table-cell>
                <md-table-cell width="36px">
                  <md-button class="md-icon-button" @click="removeForcePower(power.id)">
                    <md-icon>delete</md-icon>
                  </md-button>
                </md-table-cell>
              </md-table-row>
              <md-table-row v-for="upgrade in power.upgrades" :key="upgrade.id" class="upgrade-row">
                <md-table-cell>
                  <content-editable v-model="upgrade.name" v-focus></content-editable>
                </md-table-cell>
                <md-table-cell>
                  <content-editable v-model="upgrade.description"></content-editable>
                </md-table-cell>
                <md-table-cell>
                  <md-button class="md-icon-button" @click="removeForcePowerUpgrade(power.id, upgrade.id)">
                    <md-icon>delete</md-icon>
                  </md-button>
                </md-table-cell>
              </md-table-row>
              <md-table-row>
                <md-table-cell colspan="3">
                  <md-button class="md-icon-button" @click="addForcePowerUpgrade(power.id)">
                    <icon name="upgrade"></icon>
                    <md-tooltip md-direction="left">Add Upgrade</md-button>
                  </md-button>
                </md-table-cell>
              </md-table-row>
            </md-table-body>
          </md-table>
        </md-table-card>

        <md-table-card>
          <md-toolbar>
            <h1 class="md-title">Weapons</h1>
            <md-button class="md-icon-button" @click="addEquipment('weapon')">
              <md-icon>add</md-icon>
              <md-tooltip md-direction="left">Add Weapon</md-button>
            </md-button>
          </md-toolbar>
          <md-table>
            <md-table-header v-if="npcFormWeapons.length > 0">
              <md-table-row>
                <md-table-head width="300px">Name</md-table-head>
                <md-table-head>Skill</md-table-head>
                <md-table-head width="60px">Damage</md-table-head>
                <md-table-head width="60px">Crit</md-table-head>
                <md-table-head>Range</md-table-head>
                <md-table-head width="60px">Encumbrance</md-table-head>
                <md-table-head width="36px"></md-table-head>
              </md-table-row>
            </md-table-header>
            <md-table-body>
              <md-table-row v-for="weapon in npcFormWeapons" :key="weapon.id">
                <md-table-cell>
                  <content-editable v-model="weapon.name" v-focus></content-editable>
                </md-table-cell>
                <md-table-cell>
                  <md-select v-model="weapon.skill">
                    <md-option v-for="skill in combatSkills" :value="skill.name">{{ skill.name }}</md-option>
                  </md-select>
                </md-table-cell>
                <md-table-cell>
                  <number-picker v-model="weapon.damage"></number-picker>
                </md-table-cell>
                <md-table-cell>
                  <number-picker v-model="weapon.crit"></number-picker>
                </md-table-cell>
                <md-table-cell>
                  <md-select v-model="weapon.range">
                    <md-option v-for="range in rangeBands" :value="range">{{ range }}</md-option>
                  </md-select>
                </md-table-cell>
                <md-table-cell>
                  <number-picker v-model="weapon.encumbrance"></number-picker>
                </md-table-cell>
                <md-table-cell>
                  <md-button class="md-icon-button" @click="removeEquipment(weapon.id)">
                    <md-icon>delete</md-icon>
                  </md-button>
                </md-table-cell>
              </md-table-row>
            </md-table-body>
          </md-table>
        </md-table-card>
        
        <md-table-card>
          <md-toolbar>
            <h1 class="md-title">Armor</h1>
            <md-button class="md-icon-button" @click="addEquipment('armor')">
              <md-icon>add</md-icon>
              <md-tooltip md-direction="left">Add Armor</md-button>
            </md-button>
          </md-toolbar>
          <md-table>
            <md-table-header v-if="npcFormArmor.length > 0">
              <md-table-row>
                <md-table-head>Name</md-table-head>
                <md-table-head width="60px">Defense</md-table-head>
                <md-table-head width="60px">Soak</md-table-head>
                <md-table-head width="60px">Encumbrance</md-table-head>
                <md-table-head width="36px"></md-table-head>
              </md-table-row>
            </md-table-header>
            <md-table-body>
              <md-table-row v-for="armor in npcFormArmor" :key="armor.id">
                <md-table-cell>
                  <content-editable v-model="armor.name" v-focus></content-editable>
                </md-table-cell>
                <md-table-cell>
                  <number-picker v-model="armor.defense"></number-picker>
                </md-table-cell>
                <md-table-cell>
                  <number-picker v-model="armor.soak"></number-picker>
                </md-table-cell>
                <md-table-cell>
                  <number-picker v-model="armor.encumbrance"></number-picker>
                </md-table-cell>
                <md-table-cell>
                  <md-button class="md-icon-button" @click="removeEquipment(armor.id)">
                    <md-icon>delete</md-icon>
                  </md-button>
                </md-table-cell>
              </md-table-row>
            </md-table-body>
          </md-table>
        </md-table-card>

        <md-table-card>
          <md-toolbar>
            <h1 class="md-title">Gear</h1>
            <md-button class="md-icon-button" @click="addEquipment('gear')">
              <md-icon>add</md-icon>
              <md-tooltip md-direction="left">Add Gear</md-button>
            </md-button>
          </md-toolbar>
          <md-table>
            <md-table-header v-if="npcFormGear.length > 0">
              <md-table-row>
                <md-table-head>Name</md-table-head>
                <md-table-head width="60px">Encumbrance</md-table-head>
                <md-table-head width="36px"></md-table-head>
              </md-table-row>
            </md-table-header>
            <md-table-body>
              <md-table-row v-for="gear in npcFormGear" :key="gear.id">
                <md-table-cell>
                  <content-editable v-model="gear.name" v-focus></content-editable>
                </md-table-cell>
                <md-table-cell>
                  <number-picker v-model="gear.encumbrance"></number-picker>
                </md-table-cell>
                <md-table-cell>
                  <md-button class="md-icon-button" @click="removeEquipment(gear.id)">
                    <md-icon>delete</md-icon>
                  </md-button>
                </md-table-cell>
              </md-table-row>
            </md-table-body>
          </md-table>
        </md-table-card>

        <div class="text-right">
          <md-button @click="setView('list')" :disabled="saving">Cancel</md-button>
          <md-button type="submit" :disabled="saving">Add NPC</md-button>
        </div>
      </form>
    </section>

    <section v-else-if="view === 'edit'">
      <p>edit</p>
      <md-button @click="setView('list')">Cancel</md-button>
      <md-button>Save</md-button>
    </section>

    <section v-else>
      <div class="controls">
        <md-button @click="setView('new')">New NPC</md-button>
      </div>
      <p>TODO (once NPCs are saving): NPC List</p>
    </section>

  </transition>
</div>
