
.alert-box {
  position: relative;
  padding: $alert-box-padding ($alert-box-padding + 10) $alert-box-padding $alert-box-padding;
  background-color: $alert-bg-color;
  color: $alert-text-color;
  margin-bottom: 15px;
  border-radius: $alert-box-radius;

  &.alert {
    color: $alert-text-color-alert;
    background-color: $alert-bg-color-alert;
  }

  &.warning {
    color: $alert-text-color-warning;
    background-color: $alert-bg-color-warning;
  }

  &.success {
    color: $alert-text-color-success;
    background-color: $alert-bg-color-success;
  }

  & > :last-child {
    margin-bottom: 0;
  }

  .close-button {
    color: $alert-text-color;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
    background-color: transparent;
    border: none;
    position: absolute;
    top: $alert-box-padding - 2;
    right: $alert-box-padding;
  }

  ul {
    margin: 0;
    padding: 0;

    li {
      list-style: none;
      margin: 0;
      padding: 0;

      &:not(:last-child) {
        padding-bottom: $alert-message-padding;
      }
    }
  }
}
