
.uppercase {
  text-transform: uppercase;
}

.empire {
  color: $empireRed;
}

.rebel {
  color: $rebelOrange;
}

.vertical-center.full-size-abs {
  .title + .subtitle {
    line-height: 0.8;
    margin-top: -($headerBottomMargin * 2);
    margin-bottom: $headerBottomMargin * 2;
  }
}

a:not(.button) {
  // TODO: style links so they don't blend in with text
  text-decoration-line: underline;
  text-decoration-style: wavy;
}
