

[class*="modal"] {
  z-index: $zIndexModal;
}

.overlay {
  z-index: $zIndexOverlay;
}

.dropdown {
  z-index: $zIndexDropdown;
}

.header {
  z-index: $zIndexHeader;
}

.footer {
  z-index: $zIndexFooter;
}
.beneath {
  z-index: $zIndexBeneath
}