
<div class="character-list">
  <div class="row small-up-2">
    <div class="column character-card" v-for="character in characters" :key="character.id">
      <md-card>
        <md-card-media md-ratio="16:9">
          <img :src="character.imageUrl" :alt="character.name">
        </md-card-media>
        <md-card-header>
          <div class="md-title">{{ character.name }}</div>
        </md-card-header>
        <md-card-actions>
          <md-button @click.native="openCharacter(character)" :disabled="deletingCharacter.indexOf(character.id) !== -1">Open</md-button>
          <confirm-button @submit="deleteCharacter(character.id)" :disabled="deletingCharacter.indexOf(character.id) !== -1">Delete</confirm-button>
        </md-card-actions>
      </md-card>
    </div>
    <div class="column action-card">
      <md-card>
        <md-card-actions>
          <icon name="user"></icon>
          <md-button @click.native="newCharacter()" :disabled="creatingCharacter">New Character</md-button>
        </md-card-actions>
      </md-card>
    </div>
  </div>
  <character-card :character="currentCharacter" ref="characterCard"></character-card>
</div>
