
<div class="vertical-center login-form">
	<div class="row">
		<div class="small-12 medium-6 large-4 medium-centered columns">
			<panel>
				<div slot="content">
					<form action="/session/create">
						<h1>Log In</h1>

						<% if (flash && flash.msg) { %>
							<%- partial('../components/flashmsg') %>
						<% } %>

						<label class="v-input">
						  Email Address
						  <i class="fa fa-user"></i>
						  <input type="email" name="email" />
						</label>
						<label class="v-input">
						  Password
						  <i class="fa fa-lock"></i>
						  <input type="password" name="password" />
						</label>
						<button type="submit" class="expand radius">Log In</button>
						<a href="/register" type="submit" class="button secondary expand radius">New Account</a>
					</form>
				</div>
			</panel>
		</div>
	</div>
</div>
