
<div class="vertical-center full-size-abs">
	<div class="row">
		<div class="small-12 medium-6 large-4 medium-centered columns">
			<panel>
				<div slot="content">
					<h1>Log In</h1>

					<% if (flash && flash.msg) { %>
						<%- partial('../components/flashmsg') %>
					<% } %>

					<v-form action="/session/create">
						<v-input type="email" label="Email Address" name="email" icon="user" :value.sync="''" :required="true"></v-input>
						<v-input type="password" label="Password" name="password" icon="lock" :value.sync="''" :required="true"></v-input>
						<button type="submit" class="expand">Submit</button>
						<a href="/register" type="submit" class="button secondary expand radius">New Account</a>
						<a href="/recover" class="right">Forgot Password</a>
					</v-form>
				</div>
			</panel>
		</div>
	</div>
</div>
