
.toolbar {
  position: absolute;
  height: 100%;
  width: 100%;

  .md-title {
    color: $page-controls-color;
    padding-left: $global-gutter / 2;
  }

  .page-controls {
    position: fixed;
    top: $global-gutter / 2;
    right: $global-gutter / 2;
    z-index: 1;

    svg {
      fill: $page-controls-color;
    }
  }
}
