
.toolbar {
  .page-title {
    position: fixed;
    top: 0;
    left: $global-gutter / 2;
    display: inline-block;
    line-height: $header-margin;
    color: $page-controls-color;
    padding-left: $global-gutter / 2;
    font-size: rem-calc(24);
    margin: 0;
    padding: 0;
  }

  .page-controls {
    position: fixed;
    top: $global-gutter / 2;
    right: $global-gutter / 2;
    z-index: 1;

    svg {
      fill: $page-controls-color;
    }
  }
}
