
.toolbar {
  .page-title {
    position: fixed;
    top: 0;
    left: $global-gutter / 2;
    display: inline-block;
    line-height: $header-margin;
    color: $page-controls-color;
    padding-left: $global-gutter / 2;
    font-size: rem-calc(24);
    margin: 0;
    padding: 0;
  }

  .page-controls {
    position: fixed;
    top: $page-controls-offset;
    right: $page-controls-offset;
    z-index: 1;
    border-radius: $global-radius;
    background-color: $panel-bg-color-dark;

    svg {
      fill: $page-controls-color;
    }
  }

  .md-menu-backdrop {
    z-index: -1;
  }
}
