
<div class="toolbar">
  <md-dialog-alert :md-content="alert.content" ref="toolbarDialog"></md-dialog-alert>
  <md-dialog-confirm :md-content="confirm.content" ref="toolbarConfirm" @close="confirmLogout"></md-dialog-confirm>

  <h2 class="md-title" style="flex: 1">{{ title }}</h2>

  <div class="page-controls">
    <slot name="topbar"></slot>
    <md-button class="md-icon-button" @click="toggleRightSideNav"><icon name="menu"></i></md-button>
  </div>

  <md-sidenav class="md-right" ref="rightSideNav">
    <md-toolbar>
      <h3 class="md-title">Menu</h3>
    </md-toolbar>

    <slot name="sidebar"></slot>

    <md-list>
      <md-list-item href="/home"><md-icon>search</md-icon> <span>Browse Games</span></md-list-item>
      <md-list-item v-on:click="logout"><md-icon>power_settings_new</md-icon> <span>Log Out</span></md-list-item>
    </md-list>
  </md-sidenav>
</div>
