
<div class="roll-channels">
  <panel>
    <div slot="content">
      <alert :alert.sync="rollChannelsAlert"></alert>
      <tabs>
        <tab heading="My Rolls">
          <div class="controls">
            <button class="tiny" v-on:click="clearLocalRolls()">Clear</button>
          </div>
          <roll-log :rolls="localRolls"></roll-log>
        </tab>

        <tab :heading="channelLabel">
          <div v-if="channel.name">
            <div class="controls">
              <button class="tiny" v-on:click="leaveChannel()">Leave Channel</button>
            </div>
            <roll-log :rolls="channelRolls"></roll-log>
          </div>
          <div v-else>
            <div class="controls">
              <button class="tiny" v-on:click="openJoinChannelPrompt()" :disabled="chatHandle === ''">Join Channel</button>
              <button class="tiny" v-on:click="openSetChatHandlePrompt()">Set Chat Handle</button>
            </div>
          </div>
        </tab>
      </tabs>
    </div>
  </panel>

  <prompt :name="joinChannelPrompt.name" :label.sync="joinChannelPrompt.label"></prompt>
  <prompt :name="handlePrompt.name" :label.sync="handlePrompt.label"></prompt>
</div>
