
<md-button md-theme="starwars" class="md-icon-button md-accent" id="open_disclaimer" @click.native="openDialog('disclaimer')">
  <md-icon>info_outline</md-icon>
</md-button>

<md-dialog md-open-from="#open_disclaimer" md-close-to="#open_disclaimer" ref="disclaimer">
  <md-dialog-title>Disclaimer</md-dialog-title>

  <md-dialog-content>
    <p>This app is a personal project developed for no monetary gain and with the understanding that game mechanics are not protected by US Copyright laws. As such, no literary work (which is covered by US Copyright) has been included in this app. Edge of the Empire, Age of Rebellion and Force and Destiny are trademarks owned by Fantasy Flight Games. Reference to other copyrighted material in no way constitutes a challenge to respective copyright holders of that material.</p>
  </md-dialog-content>

  <md-dialog-actions>
    <md-button class="md-primary" id="close_disclaimer" @click.native="closeDialog('disclaimer')">Ok</md-button>
  </md-dialog-actions>
</md-dialog>
