
<div class="row">
  <div class="small-12 column">
    <h1>Reset Password</h1>
    <alert ref="resetAlert"></alert>
    <md-dialog-alert
      md-content="Success! You password has been reset and you've been logged in. Click OK to head to the home page!"
      @close="redirect"
      ref="resetDialog">
    </md-dialog-alert>
    <form v-show="token !== ''" @submit.stop.prevent="submitReset">
      <md-input-container :class="{'md-input-invalid': resetForm.fields.password.hasErrors}">
        <label>New Password</label>
        <md-input type="password" md-has-password v-model="resetForm.fields.password.value"></md-input>
        <span class="md-error" v-show="resetForm.fields.password.hasErrors">{{ resetForm.fields.password.errors[0] }}</span>
      </md-input-container>
      <md-input-container :class="{'md-input-invalid': resetForm.fields.confirm.hasErrors}">
        <label>Confirm New Password</label>
        <md-input type="password" md-has-password v-model="resetForm.fields.confirm.value"></md-input>
        <span class="md-error" v-show="resetForm.fields.confirm.hasErrors">{{ resetForm.fields.confirm.errors[0] }}</span>
      </md-input-container>
      <div class="float-right">
        <md-button type="submit" class="md-raised md-primary">Reset Password</md-button>
      </div>
    </form>
    <form v-show="token === ''" @submit.stop.prevent="requestReset">
      <md-input-container :class="{'md-input-invalid': requestForm.fields.email.hasErrors}">
        <label>Email Address</label>
        <md-input type="text" md-has-password v-model="requestForm.fields.email.value"></md-input>
        <span class="md-error" v-show="requestForm.fields.email.hasErrors">{{ requestForm.fields.email.errors[0] }}</span>
      </md-input-container>
      <div class="float-right">
        <md-button type="submit" class="md-raised md-primary">Request Password Reset</md-button>
      </div>
      <a class="form-link" @click="setView('login')">login</a>
    </form>
  </div>
</div>
