
<!--


       444444444       000000000      333333333333333
      4::::::::4     00:::::::::00   3:::::::::::::::33
     4:::::::::4   00:::::::::::::00 3::::::33333::::::3
    4::::44::::4  0:::::::000:::::::03333333     3:::::3
   4::::4 4::::4  0::::::0   0::::::0            3:::::3
  4::::4  4::::4  0:::::0     0:::::0            3:::::3
 4::::4   4::::4  0:::::0     0:::::0    33333333:::::3
4::::444444::::4440:::::0 000 0:::::0    3:::::::::::3
4::::::::::::::::40:::::0 000 0:::::0    33333333:::::3
4444444444:::::4440:::::0     0:::::0            3:::::3
          4::::4  0:::::0     0:::::0            3:::::3
          4::::4  0::::::0   0::::::0            3:::::3
          4::::4  0:::::::000:::::::03333333     3:::::3
        44::::::44 00:::::::::::::00 3::::::33333::::::3
        4::::::::4   00:::::::::00   3:::::::::::::::33
        4444444444     000000000      333333333333333


-->

<div class="vertical-center full-size-abs">
  <div class="row">
    <div class="small-12 medium-6 large-4 medium-centered columns">
      <panel>
        <div slot="content">
          <h1 class="title">403: Forbidden</h1>
          <h3 class="subtitle"><small>I find your lack of permissions disturbing...</small></h3>
          <ul class="no-bullet">
            <% if (session.authenticated) { %>
              <li><a href="/home">My Games</a></li>
            <% } else { %>
              <li><a href="/login">Login</a></li>
              <li><a href="/register">Sign Up</a></li>
            <% } %>
          </ul>
        </div>
      </panel>
    </div>
  </div>
</div>
