
<!--


       444444444       000000000      333333333333333
      4::::::::4     00:::::::::00   3:::::::::::::::33
     4:::::::::4   00:::::::::::::00 3::::::33333::::::3
    4::::44::::4  0:::::::000:::::::03333333     3:::::3
   4::::4 4::::4  0::::::0   0::::::0            3:::::3
  4::::4  4::::4  0:::::0     0:::::0            3:::::3
 4::::4   4::::4  0:::::0     0:::::0    33333333:::::3
4::::444444::::4440:::::0 000 0:::::0    3:::::::::::3
4::::::::::::::::40:::::0 000 0:::::0    33333333:::::3
4444444444:::::4440:::::0     0:::::0            3:::::3
          4::::4  0:::::0     0:::::0            3:::::3
          4::::4  0::::::0   0::::::0            3:::::3
          4::::4  0:::::::000:::::::03333333     3:::::3
        44::::::44 00:::::::::::::00 3::::::33333::::::3
        4::::::::4   00:::::::::00   3:::::::::::::::33
        4444444444     000000000      333333333333333


-->

<div class="v-center h-center full-size-abs">
  <div class="error-page panel">
    <h1 class="title">403: Forbidden</h1>
    <h3 class="subtitle"><small>I find your lack of permissions disturbing...</small></h3>
    <div class="text-center">
      <% if (session.authenticated) { %>
        <md-button href="/home" class="md-accent">Home</md-button>
      <% } else { %>
        <md-button href="/login" class="md-accent">Login</md-button>
        <md-button href="/register" class="md-accent">Register</md-button>
      <% } %>
    </div>
  </div>
</div>
