
<!--


555555555555555555      000000000          000000000
5::::::::::::::::5    00:::::::::00      00:::::::::00
5::::::::::::::::5  00:::::::::::::00  00:::::::::::::00
5:::::555555555555 0:::::::000:::::::00:::::::000:::::::0
5:::::5            0::::::0   0::::::00::::::0   0::::::0
5:::::5            0:::::0     0:::::00:::::0     0:::::0
5:::::5555555555   0:::::0     0:::::00:::::0     0:::::0
5:::::::::::::::5  0:::::0 000 0:::::00:::::0 000 0:::::0
555555555555:::::5 0:::::0 000 0:::::00:::::0 000 0:::::0
            5:::::50:::::0     0:::::00:::::0     0:::::0
            5:::::50:::::0     0:::::00:::::0     0:::::0
5555555     5:::::50::::::0   0::::::00::::::0   0::::::0
5::::::55555::::::50:::::::000:::::::00:::::::000:::::::0
 55:::::::::::::55  00:::::::::::::00  00:::::::::::::00
   55:::::::::55      00:::::::::00      00:::::::::00
     555555555          000000000          000000000

-->

<div class="vertical-center full-size-abs">
  <div class="row">
    <div class="small-12 medium-6 large-4 medium-centered columns">
      <panel>
        <div slot="content">
          <h1 class="title">500: Server Error</h1>
          <h3 class="subtitle"><small>NOOOOOOoooooooo... !!!</small></h3>
          <ul class="no-bullet">
            <% if (session.authenticated) { %>
              <li><a href="/home">My Games</a></li>
            <% } else { %>
              <li><a href="/login">Login</a></li>
              <li><a href="/register">Sign Up</a></li>
            <% } %>
          </ul>
        </div>
      </panel>
    </div>
  </div>
</div>
