
<div class="row">
  <div class="small-12 column">
    <h1>Log In</h1>
    <form @submit.stop.prevent="login">
      <md-input-container :class="{'md-input-invalid': emailError.length > 0}">
        <label>Email Address</label>
        <md-input type="email" v-model="email" required></md-input>
        <span class="md-error" v-show="emailError.length > 0">{{ emailError }}</span>
      </md-input-container>
      <md-input-container md-has-password :class="{'md-input-invalid': passwordError.length > 0}">
        <label>Password</label>
        <md-input type="password" v-model="password" required></md-input>
      </md-input-container>
      <div class="float-right clearfix">
        <md-button type="button" class="md-raised" v-on:click="setView('signup')">Sign Up</md-button>
        <md-button type="submit" class="md-raised md-primary">Log In</md-button>
      </div>
      <a class="form-link" v-on:click="setView('passwordReset')">forgot password?</a>
    </form>
  </div>
</div>
