
.standard-roll-results {
  padding: 10px;
  border-radius: $global-radius;
  background-color: $chat-roll-message-bg-color;

  .total {
    position: relative;
    line-height: 26px;

    em {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      color: $chat-roll-label-color;
    }
  }
}
