
<div class="vertical-center signup-form">
	<div class="row">
		<div class="small-12 medium-6 large-4 medium-centered columns">
			<panel>
				<div slot="content">
					<h1>New Account</h1>

					<% if (flash && flash.msg) { %>
						<%- partial('../components/flashmsg') %>
					<% } %>

					<v-form action="/user/create">
						<v-input type="email" label="Email Address" name="email" icon="user" :value.sync="''" :required="true"></v-input>
						<v-input type="text" label="Chat Handle" name="handle" icon="comment" :value.sync="''" :required="true"></v-input>
						<v-input type="password" label="Password" name="password" icon="lock" :value.sync="''" :required="true"></v-input>
						<v-input type="password" label="Confirm Password" name="confirmation" icon="repeat" :value.sync="''" :required="true"></v-input>
						<button type="submit" class="expand radius"><i class="fa fa-user"></i> Create Account</button>
						<a href="/login"><i class="fa fa-chevron-circle-left"></i> Log In</a>
					</v-form>
				</div>
			</panel>
		</div>
	</div>
</div>
