
<div class="vertical-center signup-form">
	<div class="row">
		<div class="small-12 medium-6 large-4 medium-centered columns">
			<panel>
				<div slot="content">
					<h1>New Account</h1>

					<% if (flash && flash.msg) { %>
						<%- partial('../components/flashmsg') %>
					<% } %>

					<form action="/user/create">
						<label class="v-input">
						  Email Address
						  <i class="fa fa-user"></i>
						  <input type="email" name="email" />
						</label>
						<label class="v-input">
						  Chat Handle
						  <i class="fa fa-comment"></i>
						  <input type="text" name="handle" />
						</label>
						<label class="v-input">
						  Password
						  <i class="fa fa-lock"></i>
						  <input type="password" name="password" />
						</label>
						<label class="v-input">
						  Confirm Password
						  <i class="fa fa-repeat"></i>
						  <input type="password" name="confirmation" />
						</label>
						<button type="submit" class="expand radius"><i class="fa fa-user"></i> Create Account</button>
						<a href="/login"><i class="fa fa-chevron-circle-left"></i> Log In</a>
					</form>
				</div>
			</panel>
		</div>
	</div>
</div>
