
<div class="vertical-center full-size-abs">
	<div class="row">
		<div class="small-12 medium-6 large-4 medium-centered columns">
			<panel>
				<div slot="content">
          <h1>Reset Password</h1>
          <p>Enter the email address associated with your account below and we'll send you an email that will allow you to reset your password.</p>

					<% if (flash && flash.msg) { %>
						<%- partial('../components/flashmsg') %>
					<% } %>

					<v-form method="POST" action="/sendreset">
						<v-input type="email" label="Email Address" name="email" icon="user" :value.sync="''" :required="true"></v-input>
						<button type="submit" class="expand">Submit</button>
					</v-form>
				</div>
			</panel>
		</div>
	</div>
</div>
