
<div class="vertical-center full-size-abs">
	<div class="row">
		<div class="small-12 medium-6 large-4 medium-centered columns">
			<panel>
				<div slot="content">
          <h1>Reset Password</h1>
          <p>Enter your new password in the fields below to reset the password for your account.</p>

					<% if (flash && flash.msg) { %>
						<%- partial('../components/flashmsg') %>
					<% } %>

					<v-form method="POST">
						<v-input type="password" label="New Password" name="password" icon="lock" :value.sync="password" :required="true"></v-input>
						<v-input type="password" label="Confirm Password" name="confirmation" icon="lock" :value.sync="''" :equal-to="{ label: 'Password', value: password }" :required="true"></v-input>
            <input type="hidden" value="<%= token %>" name="token" readonly>
						<button type="submit" class="expand">Submit</button>
					</v-form>
				</div>
			</panel>
		</div>
	</div>
</div>
