


<div class="row">
  <div class="small-12 columns">

    <div id="sandbox">
      <v-form method="POST">
        <v-input type="text" label="Test" name="testRequired" :value.sync="''" :required="true"></v-input>
        <v-input type="email" label="Email" name="testEmail" :value.sync="''" :required="true"></v-input>
        <button type="submit">Submit</button>
      </v-form>
    </div>

    <div id="characterList">
      <character-creator :character.sync="newCharacter"></character-creator>
      <character-list :characters.sync="characters"></character-list>
    </div>

  </div>
</div>
