


<div class="row">
  <div class="small-12 columns">

    <div id="sandbox">
      <prompt v-ref:test-prompt></prompt>
      <button v-on:click="openPrompt()">Test Prompt</button>
    </div>

    <div id="characterList">
      <character-creator :character.sync="newCharacter"></character-creator>
      <character-list :characters.sync="characters"></character-list>
    </div>

  </div>
</div>
