

<div class="row">
  <div class="small-12 columns">
    <div id="characterList">
      <character-creator :character.sync="newCharacter"></character-creator>
      <character-list :characters.sync="characters"></character-list>

      <div class="top-left-corner" style="display: inline-block; height: 60px; width: 60px;"></div>
      <div class="top-right-corner" style="display: inline-block; height: 60px; width: 60px;"></div>
      <div class="bottom-left-corner" style="display: inline-block; height: 60px; width: 60px;"></div>
      <div class="bottom-right-corner" style="display: inline-block; height: 60px; width: 60px;"></div>

      <svg version="1.1" style="display: inline-block;" height="400px" width="400px" xmlns="http://www.w3.org/2000/svg" id="bg-corner-top-left" viewBox="0 0 40 40">
        <polygon fill="#83a9da" points="40,0 40,2 2,40 0,40 0,39.1716 39.1716,0"/>
      </svg>
      <svg version="1.1" style="display: inline-block;" height="400px" width="400px" xmlns="http://www.w3.org/2000/svg" id="bg-corner-top-right" viewBox="0 0 40 40">
        <polygon fill="#83a9da" points="0,0 0.8284,0 40,39.1716 40,40 38,40 0,2"/>
      </svg>
      <svg version="1.1" style="display: inline-block;" height="400px" width="400px" xmlns="http://www.w3.org/2000/svg" id="bg-corner-bottom-left" viewBox="0 0 40 40">
        <polygon fill="#83a9da" points="0,0 2,0 40,38 40,40 39.1716,40 0,0.8284"/>
      </svg>
      <svg version="1.1" style="display: inline-block;" height="400px" width="400px" xmlns="http://www.w3.org/2000/svg" id="bg-corner-bottom-right" viewBox="0 0 40 40">
        <polygon fill="#83a9da" points="40,0 40,0.8284 0.8284,40 0,40 0,38 38,0"/>
      </svg>

      <icon name="dice-success"></icon>
      <icon name="dice-advantage"></icon>
      <icon name="dice-triumph"></icon>
      <icon name="dice-failure"></icon>
      <icon name="dice-threat"></icon>
      <icon name="dice-despair"></icon>
      <icon name="dice-dark-side"></icon>
      <icon name="dice-light-side"></icon>

      <icon name="die-boost"></icon>
      <icon name="die-ability"></icon>
      <icon name="die-proficiency"></icon>
      <icon name="die-setback"></icon>
      <icon name="die-difficulty"></icon>
      <icon name="die-challenge"></icon>
      <icon name="die-force"></icon>

      <panel>
        <div slot="content">
          <button v-on:click="show = true">Default Button</button>
          <button class="info">Info Button</button>
          <button class="secondary">Secondary Button</button>
          <button class="success">Success Button</button>
          <button class="warning">Warning Button</button>
          <button class="alert">Alert Button</button>
        </div>
      </panel>

      <modal :show.sync="show">
        <div slot="content">
          <p>Bazinga</p>
        </div>
      </modal>

      <!--sw-dice-roller></sw-dice-roller-->
    </div>
  </div>
</div>

