

<div class="row">
  <div class="small-12 columns">
    <div id="characterList">
      <character-creator :character.sync="newCharacter"></character-creator>
      <character-list :characters.sync="characters"></character-list>
      <icon name="dice-threat"></icon>
    </div>
  </div>
</div>

