

<div class="row">
  <div class="small-12 columns">
    <div id="characterList">
      <character-creator :character.sync="newCharacter"></character-creator>
      <character-list :characters.sync="characters"></character-list>
      <icon name="dice-success"></icon>
      <icon name="dice-advantage"></icon>
      <icon name="dice-triumph"></icon>
      <icon name="dice-failure"></icon>
      <icon name="dice-threat"></icon>
      <icon name="dice-despair"></icon>
      <icon name="dice-force-dark-side"></icon>
      <icon name="dice-force-light-side"></icon>
    </div>
  </div>
</div>

