

<div class="row">
  <div class="small-12 columns">
    <div id="app">
      <input type="text" v-model="hello" />
      <character-list :greeting.sync="hello"></character-list>
    </div>
  </div>
</div>

