

<div class="row">
  <div class="small-12 columns">
    <div id="characterList">
      <character-creator :character.sync="newCharacter"></character-creator>
      <character-list :characters.sync="characters"></character-list>

      <icon name="dice-success"></icon>
      <icon name="dice-advantage"></icon>
      <icon name="dice-triumph"></icon>
      <icon name="dice-failure"></icon>
      <icon name="dice-threat"></icon>
      <icon name="dice-despair"></icon>
      <icon name="dice-dark-side"></icon>
      <icon name="dice-light-side"></icon>

      <icon name="die-boost"></icon>
      <icon name="die-ability"></icon>
      <icon name="die-proficiency"></icon>
      <icon name="die-setback"></icon>
      <icon name="die-difficulty"></icon>
      <icon name="die-challenge"></icon>
      <icon name="die-force"></icon>

      <panel>
        <div slot="content">
          <button>Blue Button</button>
          <button class="success">Green Button</button>
          <button class="warning">Yellow Button</button>
          <button class="alert">Red Button</button>
        </div>
      </panel>

      <!--sw-dice-roller></sw-dice-roller-->
    </div>
  </div>
</div>

