
$map-viewer-top-z-index: 5000;

.map-viewer {
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  .map-wrapper {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;

    &.dragging {
      cursor: move;
      // cursor: grabbing;
      // cursor: -moz-grabbing;
      // cursor: -webkit-grabbing;
    }

    img {
      max-width: none;
    }
  }

  .zoom-controls {
    width: 400px;
    display: flex;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: $map-viewer-top-z-index;
    border-top-left-radius: $global-radius;
    border-top-right-radius: $global-radius;
    padding: 5px 12px 0;
    background-color: $panel-bg-color-dark;

    input[type="range"] {
      flex: 1;
    }

    button {
      margin: 0;
      padding: 0;
      height: 20px;
      width: 20px;
      min-width: 20px;

      & + input {
        margin-left: 10px;
      }
    }

    svg {
      fill: $page-controls-color;
    }
  }
}
