
$map-viewer-top-z-index: 5000;

.map-viewer {
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  .map-wrapper {
    display: inline-block;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;

    &.dragging {
      cursor: move;
      // cursor: grabbing;
      // cursor: -moz-grabbing;
      // cursor: -webkit-grabbing;
    }

    img {
      max-width: none;
    }

    .grid-overlay {
      position: absolute;
      pointer-events: none;
      top: 50%;
      left: 50%;
      height: 500%;
      width: 500%;
      transform: translateX(-50%) translateY(-50%);
      background-color: transparent;
      background-image:
        linear-gradient(
          0deg,
          transparent 24%,
          $maya-blue 25%,
          $maya-blue 26%,
          transparent 27%,
          transparent 74%,
          $maya-blue 75%,
          $maya-blue 76%,
          transparent 77%,
          transparent
        ),
        linear-gradient(
          90deg,
          transparent 24%,
          $maya-blue 25%,
          $maya-blue 26%,
          transparent 27%,
          transparent 74%,
          $maya-blue 75%,
          $maya-blue 76%,
          transparent 77%,
          transparent
        );
      background-size: 50px 50px;
    }
  }

  .zoom-controls {
    width: 400px;
    display: flex;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: $map-viewer-top-z-index;
    border-top-left-radius: $global-radius;
    border-top-right-radius: $global-radius;
    padding: 0 12px;
    background-color: $panel-bg-color-dark;

    input[type="range"] {
      flex: 1;

      & + button {
        margin-left: 10px;
      }
    }

    button {
      margin: 0;
      padding: 0;
      height: 20px;
      width: 20px;
      min-width: 20px;

      & + input, & + button {
        margin-left: 10px;
      }
    }

    svg {
      fill: $page-controls-color;
    }
  }
}
