
<div class="map-viewer">
  <div draggable="true" :class="{ 'dragging': dragging, 'map-wrapper': true }"
    @dragstart.stop="startDragging($event)"
    @drag.stop.prevent="dragHandler($event)"
    @dragend.stop="stopDragging($event)"
    @mousewheel="scrollHandler($event)"
    :style="{
      'margin-left': mapLeft + 'px',
      'margin-top': mapTop + 'px',
      'transform': mapTransform
    }">
    <img class="map" :src="map.imageUrl" @dragstart="disableGhost($event)" />
    <transition-group name="fade">
      <component is="mapToken" v-for="token in map.tokens"
        :game="game"
        :map="map.id"
        :token="token"
        :grid-size="map.baseGrid"
        :map-scale="mapScale"
        :key="token.id"
        @error="emitError">
      </component>
    </transition-group>
  </div>
  <transition name="fade">
    <div v-show="map.imageUrl && map.imageUrl != ''" class="map-controls">
      <md-menu v-if="!showGmTools" md-direction="top left" :md-align-trigger="true" md-size="4">
        <md-button class="md-icon-button" md-menu-trigger><icon name="users"></icon></md-button>
        <md-menu-content>
          <md-menu-item v-if="!playerHasToken" @click.native="addMyToken">Add My Token</md-menu-item>
          <md-menu-item v-else @click.native="removeMyToken">Remove My Token</md-menu-item>
        </md-menu-content>
      </md-menu>
      <md-button class="md-icon-button" @click.native="centerMap"><icon name="target"></icon></md-button>
      <input type="range" v-model="mapZoom" />
      <md-button v-if="showGmTools" class="md-icon-button" @click.native="toggleGrid"><icon :name="gridIcon"></icon></md-button>
      <md-button v-if="showGmTools && combatantIds.length > 0" class="md-icon-button" @click.native="clearCombatants(combatantIds)"><icon name="remove-users"></icon></md-button>
    </div>
  </transition>
</div>
