
.splash-page {
  max-width: 560px;

  h1 {
    margin-top: 0;
    margin-bottom: 40px;
    font-size: rem-calc(40);
  }
}

#open_disclaimer {
  position: fixed;
  top: $global-gutter;
  right: $global-gutter;
}
