
<div class="chat-pane">
  <div class="chat-log" v-el:chat-log v-on:scroll="userScrolling">
    <ul class="zebra-list" v-if="gameLog.log">
      <li v-for="item in gameLog.log">
        <div v-if="item.type === 'chat'" class="chat-message">
          <p class="message"><span class="message-author">{{ item.chatHandle }}:</span> {{ item.message }}</p>
          <p class="message-timestamp">{{ item.timestamp | chatTimestamp }}</p>
        </div>
        <div v-if="item.type === 'crawl'" class="crawl-message">
          <p class="message"><span class="message-author">{{ item.chatHandle }}</span> has published a new crawl: <span class="chat-accent">{{ item.message.title }}</span></p>
          <p class="message-timestamp">{{ item.timestamp | chatTimestamp }}</p>
          <button type="button" v-on:click="playCrawl(item.message)"><i class="fa fa-play"></i></button>
        </div>
        <div v-if="item.type === 'roll'" class="roll-message">
          <partial name="roll-message"></partial>
        </div>
      </li>
    </ul>
    <ul v-else>
      <loader></loader>
    <ul>
  </div>
  <div class="chat-entry">
    <tabs>
      <!-- chat -->
      <tab heading="Chat">
        <v-form :submit-callback="sendChatMessage" :ajax="true">
          <v-input type="text" label="Message" placeholder="message" :value.sync="chatMessage" :simple="true"></v-input>
        </v-form>
      </tab>
      <!-- dice pool -->
      <tab heading="Dice Pool">
        <dice-pool
            :ability.sync="ability"
            :proficiency.sync="proficiency"
            :difficulty.sync="difficulty"
            :challenge.sync="challenge"
            :boost.sync="boost"
            :setback.sync="setback"
            :force.sync="force">
        </dice-pool>
        <v-form :submit-callback="sendChatRoll" :ajax="true">
          <v-input type="text" label="Roll Description" placeholder="description" :value.sync="rollDescription" :simple="true"></v-input>
        </v-form>
      </tab>
    </tabs>
  </div>
</div>
