

.encounter {
  position: fixed;
  left: 20px;
  bottom: 30px;
  min-width: 40px;

  .encounter-controls {
    position: absolute;
    bottom: 0;
    left: 0;
    margin-bottom: -30px;
    // margin-top: -39px;

    .md-icon-button {
      margin: 0;
    }

    svg.icon-image:not(.md-image) {
      fill: $page-controls-color;
    }
  }
}
