
<div class="encounter" @mouseenter="enter" @mouseleave="leave">
  <md-dialog-confirm
    md-content="Are you sure you want to clear the encounter?"
    ref="clearEncounterConfirm"
    @close="confirmClear">
  </md-dialog-confirm>
  <div class="combatant-list" :style="{ 'max-width': encounterWidthPx }">
    <combat-avatar
      v-for="npc in combatants"
      :name="npc.name"
      :image="npc.imageUrl"
      :total-health="npc.woundThreshold"
      :current-health="npc.currentWounds"
      :total-strain="npc.strainThreshold"
      :current-strain="npc.currentStrain"
      :size="avatarSize"
      :show-admin="isGm">
    </combat-avatar>
  </div>
    <div v-if="isGm"class="encounter-controls">
      <transition-group name="slide-fade-up">
        <md-menu md-direction="top right" :md-align-trigger="true" md-size="4" key="favorites">
          <md-button class="md-icon-button" md-menu-trigger><icon name="add-npc"></icon></md-button>
          <md-tooltip md-delay="400" md-direction="top">Add NPC</md-tooltip>
          <md-menu-content>
            <md-menu-item v-for="npc in npcs" @selected="addCombatant(npc)">{{ npc.name }}</md-menu-item>
            <md-menu-item v-if="npcs.length === 0">No Favorites Added</md-menu-item>
          </md-menu-content>
        </md-menu>
        <md-button v-if="combatants.length > 0" class="md-icon-button" @click.native="clearCombatants" key="clear">
          <icon name="clear-npc"></icon>
          <md-tooltip md-delay="400" md-direction="top">Clear Encounter</md-tooltip>
        </md-button>
        <md-button v-if="combatants.length > 0 && map.id" class="md-icon-button" @click.native="addMapTokens" key="tokens">
          <icon name="add-to-map"></icon>
          <md-tooltip md-delay="400" md-direction="top">Add Map Tokens</md-tooltip>
        </md-button>
      </transition-group>
    </div>
</div>
