
.radial-menu-item {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);

  svg.icon-image {
    fill: $page-controls-color;
  }

  .md-button {
    margin: 0;
    padding: 0;
    width: 20px;
    height: 20px;
    min-width: 20px;
    min-height: 22px;
  }
}
