
$radial-menu-button-size: 20px;

.radial-menu-item {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);

  svg.icon-image {
    fill: $page-controls-color;
    height: $radial-menu-button-size;
    width: $radial-menu-button-size;
  }

  .md-button {
    margin: 0;
    padding: 0;
    width: $radial-menu-button-size;
    height: $radial-menu-button-size;
    min-width: $radial-menu-button-size;
    min-height: $radial-menu-button-size + 2;
  }
}
