
<div class="game-browser">
  <panel>
    <div slot="content">
      <alert :alert.sync="gameBrowserAlert" :can-close="true"></alert>
      <tabs>
        <tab heading="My Games">
          <div class="controls">
            <button class="tiny" v-on:click="newGame()">New</button>
          </div>
          <game-list :games="myGames"></game-list>
        </tab>
        <tab heading="Find Game">
          <div class="controls">
            <v-input type="text" label="Search for Games" :icon="filterIcon" :value.sync="filter"></v-input>
          </div>
          <game-list :games="filteredGames"></game-list>
        </tab>
      </tabs>
    </div>
  </panel>
  <prompt v-ref:game-browser-prompt></prompt>
</div>
