
<div class="settings-menu">
  <alert :alert.sync="gameSettingsAlert"></alert>

  <div v-if="game.config">
    <h4 class="section-header">Social<h4>

    <ul class="small-block-grid-2 medium-block-grid-3">
      <li><v-checkbox :checked.sync="game.config.isPublic" label="Make game searchable"></v-checkbox></li>
    </ul>

    <div class="controls">
      <button class="tiny" v-on:click="closeModal()" :disabled="saving">Cancel</button>
      <button class="tiny" v-on:click="updateConfig()" :disabled="saving">Save</button>
    </div>
  </div>
</div>
