
<div class="row">
    <div class="small-12 medium-4 columns">
        <div class="dice-roller">
            <dice-pool
                :ability.sync="ability"
                :proficiency.sync="proficiency"
                :difficulty.sync="difficulty"
                :challenge.sync="challenge"
                :boost.sync="boost"
                :setback.sync="setback"
                :force.sync="force">
            </dice-pool>
            <div class="row collapse">
                <div class="small-9 columns">
                    <input type="text" placeholder="Description" v-model="description" />
                </div>
                <div class="small-3 columns">
                    <a href="#" class="button postfix" v-on:click="roll()">Roll</a>
                </div>
            </div>
        </div>
    </div>
    <div class="small-12 medium-8 columns">
        <roll-channels
            :local-rolls.sync="localRolls"
            :channel-rolls="channelRolls"
            :chat-handle.sync="chatHandle"
            :channel.sync="channel">
        </roll-channels>
    </div>
</div>



