
.chat-pane {
  height: 100%;

  .messages {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-y: scroll;

    li {
      list-style: none;
      padding: 0 10px 0 0;

      &:not(:last-child) {
        margin-bottom: 8px;
      }
    }

    p {
      margin-bottom: 0;
      margin-top: 0;
    }

    .message-author {
      color: $chat-author-color;
    }

    .message-timestamp {
      color: $chat-timestamp-color;
      font-size: 75%;
      line-height: 1;
    }

    .crawl-message {
      position: relative;
      padding: 10px;
      border-radius: $global-radius;
      background-color: $chat-crawl-message-bg-color;

      p {
        padding-left: 40px;
      }

      .md-icon-button {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
      }
    }
  }
}
