
<div class="chat-pane flex-column">
  <div class="chat-log fill-height" @dragover.prevent @drop="dropHandler($event)">
    <ul class="messages" ref="chatLog" @scroll="userScrolling">
      <transition-group name="slide-fade">
        <li v-for="(item, index) in log" :key="index">
          <div v-if="item.type === 'chat'" class="chat-message">
            <p class="message"><span class="message-author">{{ item.chatHandle }}:</span> {{ item.message }}</p>
          </div>
          <div v-if="item.type === 'status'">
            <p class="message"><span class="message-author">{{ item.chatHandle }}</span> {{ item.message }}</p>
          </div>
          <div v-if="item.type === 'crawl'" class="crawl-message">
            <p class="message"><span class="message-author">{{ item.chatHandle }}</span> has sent a new crawl<br/><span class="chat-accent">{{ item.message.title }}: {{ item.message.subtitle }}</span></p>
            <md-button class="md-icon-button" @click.native="playCrawl(item.message)">
              <md-icon>play_circle_filled</md-icon>
              <md-tooltip md-delay="400" md-direction="bottom">Play Crawl</md-tooltip>
            </md-button>
          </div>
          <div v-if="item.type === 'roll'" class="roll-message">
            <component
              :is="rollType(item.message)"
              :message="item.message"
              :chat-handle="item.chatHandle">
            </component>
          </div>
        </li>
      </transition-group>
    </ul>
  </div>
  <div class="chat-entry">
    <form @submit.stop.prevent="sendChatMessage">
      <md-input-container>
        <label>Chat</label>
        <md-input v-model="chatMessage"></md-input>
      </md-input-container>
    </form>
  </div>
</div>
