
.zoom-in-enter-active, .zoom-out-enter-active,
.zoom-in-leave-active, .zoom-out-leave-active {
  transition: all .3s ease;
}

.zoom-in-enter, .zoom-in-leave-active {
  opacity: 0;
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
}

.zoom-out-enter, .zoom-out-leave-active {
  opacity: 0;
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}
