
$card-input-border-color: rgba(0.5, 0.5, 0.5, 0.1);

.card {
  position: relative;

  .fixed-header {
    max-height: 100%;
    position: relative;

    .header {
      position: absolute;
      top: 0;
      line-height: 20px;
      width: 100%;
      padding-right: 8px;
    }

    .scroll-content {
      overflow-y: auto;
      overflow-x: hidden;
      max-height: calc(100% - 25px);
      margin-top: 25px;
      width: 100%;

      & > .row {
        margin-top: 5px;
        margin-bottom: 5px;
      }
    }
  }

  .card-tabs { /* npc tabs - deprecate after revamping npcs */
    thead {
      background-color: $table-bg-color;

      th {
        color: white;
      }
    }

    .tab {
      padding-right: $panel-padding;
      padding-bottom: 3px;
    }
  }

  .card-nav {
    position: absolute;
    right: 0;
    top: 40px;
    transform: translateX(calc(100% + #{$panel-padding}));
    margin: 0;
    padding: 0;

    li {
      list-style: none;
      background-color: $panel-bg-color;
      opacity: 0.5;
      border-top-right-radius: $global-radius;
      border-bottom-right-radius: $global-radius;

      .panel-tint.character & {
        background-color: $panel-bg-color-character;
      }

      .panel-tint.npc & {
        background-color: $panel-bg-color-npc;
      }

      .md-button {
        margin: 0;
      }

      &.active {
        opacity: 1;
      }
    }
  }

  .card-content {
    .md-icon-button {
      height: 24px;
      min-height: 24px;
      width: 24px;
      min-width: 24px;
      margin: 0;
      padding: 0;
    }

    .md-checkbox {
      margin: 0;
    }
  }

  .card-section-header {
    display: inline-block;

    & + .md-button {
      margin-top: 11px;
      margin-left: 8px;
    }
  }
}

.card-input {
  background-color: transparent;
  border: none;
  width: 100%;
  height: 32px;
  padding: 6px;
  display: block;
  flex: 1;
  transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  color: rgba(0, 0, 0, 0.54);
  font-family: inherit;
  font-size: rem-calc(16);
  line-height: 1.2;
  resize: none;
  border: 1px solid transparent;

  &:focus:not(.header-input) {
    animation-name: borderflash;
    animation-duration: 0.3s;
    outline: none;
    border: 1px solid $card-input-border-color;
  }

  & + .md-icon-button {
    height: 32px;
    min-height: 32px;
    width: 32px;
    min-width: 32px;
    padding: 4px;
  }

  &.header-input {
    font-size: 1.5rem;
    font-family: $headerFontFamily;
    color: $black;
    padding-left: 0;
    border: none;
    font-weight: bold;

    &:focus {
      outline: none;
    }
  }
}

.stat-input {
  position: relative;
  display: flex;
  height: 100%;
  width: 100%;

  label {
    position: absolute;
    bottom: 4px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 8px;
    white-space: nowrap;
    text-transform: uppercase;
    line-height: 1;
  }

  input {
    height: 100%;
    width: 100%;
    border: 1px solid $card-input-border-color;
    background-color: transparent;
    border-radius: $global-radius;
    text-align: center;
    font-size: 24px;

    &:focus {
      outline: none;
    }
  }
}

.stat-input-group {
  height: 100%;
  width: 100%;
  display: flex;

  .stat-input {
    width: 50%;
  }

  &.thirds {
    .stat-input {
      width: 33.33%;
    }
  }

  &:not(.vertical) {
    .stat-input {
      &:not(:first-child) input {
        padding-left: $panel-padding / 2;
      }

      &:not(:last-child) input {
        padding-right: $panel-padding / 2;
      }

      &:first-child {
        label {
          margin-left: -($panel-padding / 4);
        }

        input {
          border-right: none;
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
        }
      }

      &:not(:first-child):not(:last-child) {
        input {
          border-radius: 0;
          border-left: none;
          border-right: none;
        }
      }

      &:last-child {
        label {
          margin-right: -($panel-padding / 4);
        }

        input {
          border-left: none;
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
        }
      }
    }
  }

  &.vertical {
    flex-flow: column;

    .stat-input {
      height: 50%;
      width: 100%;

      &:first-child {
        input {
          border-bottom: none;
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;
        }
      }

      &:last-child {
        input {
          border-top: none;
          border-top-left-radius: 0;
          border-top-right-radius: 0;
        }
      }
    }
  }
}

@keyframes borderflash {
  from {
    border: 1px solid rgba(0.5, 0.5, 0.5, 0.3);
  }

  to {
    border: 1px solid $card-input-border-color;
  }
}

.action-card {
  .md-card {
    position: relative;

    &:before {
      content: '';
      display: block;
      padding-bottom: 80%;
    }
  }

  .md-card-actions {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    @extend .flex-column;
    @extend .v-center;
    @extend .h-center;

    svg.icon-image {
      height: 90px;
      width: 90px;
      margin-bottom: 20px;
    }

    .md-button {
      line-height: 50px;
      padding: 0 24px;
      font-size: 16px;
    }
  }
}
