
.card {
  .card-tabs {
    thead {
      background-color: $table-bg-color;

      th {
        color: white;
      }
    }

    .tab {
      padding-right: $panel-padding;
      padding-bottom: 3px;
    }
  }
}

.card-input {
  background-color: transparent;
  border: none;
  width: 100%;
  height: 32px;
  padding: 0;
  display: block;
  flex: 1;
  transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  color: rgba(0, 0, 0, 0.54);
  font-family: inherit;
  font-size: rem-calc(16);
  line-height: 32px;

  &:focus {
    border: 1px solid rgba(0, 0, 0, 0.54);
  }

  & + .md-icon-button {
    height: 32px;
    min-height: 32px;
    width: 32px;
    min-width: 32px;
    padding: 4px;
  }
}

.action-card {
  .md-card {
    position: relative;

    &:before {
      content: '';
      display: block;
      padding-bottom: 80%;
    }
  }

  .md-card-actions {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    @extend .flex-column;
    @extend .v-center;
    @extend .h-center;

    svg.icon-image {
      height: 90px;
      width: 90px;
      margin-bottom: 20px;
    }

    .md-button {
      line-height: 50px;
      padding: 0 24px;
      font-size: 16px;
    }
  }
}
