
.card {
  position: relative;

  .fixed-header {
    max-height: 100%;
    position: relative;

    .header {
      position: absolute;
      top: 0;
      line-height: 20px;
      width: 100%;
      padding-right: 8px;
    }

    .scroll-content {
      overflow-y: auto;
      overflow-x: hidden;
      max-height: calc(100% - 25px);
      margin-top: 25px;
      width: 100%;

      & > .row {
        margin-top: 5px;
        margin-bottom: 5px;
      }
    }
  }

  .card-tabs { /* npc tabs - deprecate after revamping npcs */
    thead {
      background-color: $table-bg-color;

      th {
        color: white;
      }
    }

    .tab {
      padding-right: $panel-padding;
      padding-bottom: 3px;
    }
  }

  .card-nav {
    position: absolute;
    right: 0;
    top: 40px;
    transform: translateX(calc(100% + #{$panel-padding}));
    margin: 0;
    padding: 0;

    li {
      list-style: none;
      background-color: $panel-bg-color;
      opacity: 0.5;
      border-top-right-radius: $global-radius;
      border-bottom-right-radius: $global-radius;

      .md-button {
        margin: 0;
      }

      &.active {
        opacity: 1;
      }
    }
  }

  .card-content {
    .md-icon-button {
      height: 24px;
      min-height: 24px;
      width: 24px;
      min-width: 24px;
      margin: 0;
      padding: 0;
    }

    .md-checkbox {
      margin: 0;
    }
  }

  .card-section-header {
    display: inline-block;

    & + .md-button {
      margin-top: 11px;
      margin-left: 8px;
    }
  }
}

.card-input {
  background-color: transparent;
  border: none;
  width: 100%;
  height: 32px;
  padding: 0;
  display: block;
  flex: 1;
  transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  color: rgba(0, 0, 0, 0.54);
  font-family: inherit;
  font-size: rem-calc(16);
  line-height: 32px;

  &:focus {
    border: 1px solid rgba(0, 0, 0, 0.54);
  }

  & + .md-icon-button {
    height: 32px;
    min-height: 32px;
    width: 32px;
    min-width: 32px;
    padding: 4px;
  }
}

.action-card {
  .md-card {
    position: relative;

    &:before {
      content: '';
      display: block;
      padding-bottom: 80%;
    }
  }

  .md-card-actions {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    @extend .flex-column;
    @extend .v-center;
    @extend .h-center;

    svg.icon-image {
      height: 90px;
      width: 90px;
      margin-bottom: 20px;
    }

    .md-button {
      line-height: 50px;
      padding: 0 24px;
      font-size: 16px;
    }
  }
}
