
.character-creator-component {
  .creator-modal {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    padding: rem-calc(20);
    background-color: $bodyBg;

    .step {
      position: relative;
      height: 100%;
      padding-bottom: rem-calc(70);

      .step-content {
        max-height: 100%;
        overflow-x: hidden;
        overflow-y: auto;
      }

      .step-controls {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding-top: rem-calc(10);
        background-color: $bodyBg;

        button {
          margin: 0;
        }
      }
    }
  }

  .rollResults {
    .rollResult {
      border: 1px solid #aaa;
      text-align: center;
      padding: rem-calc(14) 0;
      cursor: pointer;

      &:active {
        background-color: #eee;
      }
    }
  }
}
