
.panel {
  background-color: $panel-bg-color;
  border-radius: $panel-radius;
  padding: $panel-padding;

  &.content {
    padding: $panel-padding * 2;
  }

  &[draggable="true"] {
    position: fixed;
    top: 0;
    left: 0;

    &.dragging {
      cursor: move;
    }
  }
}
