
.panel {
  background-color: $panel-bg-color;
  border-radius: $panel-radius;
  padding: $panel-padding;

  &.content {
    padding: $panel-padding * 2;
  }

  &[draggable="true"] {
    position: fixed;
    top: 0;
    left: 0;

    &.dragging {
      cursor: move;
    }
  }

  .row {
    margin-left: -$panel-padding / 2;
    margin-right: -$panel-padding / 2;

    .column {
      padding-left: $panel-padding / 2;
      padding-right: $panel-padding / 2;
    }
  }
}
