
table {
  width: 100%;
  border-spacing: 0;

  th, td {
    padding: 10px;
    text-align: center;

    &:first-child {
      text-align: left;
    }
  }

  th {
    font-weight: bold;
    text-transform: uppercase;
    font-size: rem-calc(10);
    line-height: rem-calc(10);
  }

  td {
    .shortcut-button {
      margin-left: 8px;
      margin-right: 8px;

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
