
table {
  width: 100%;
  border-spacing: 0;

  th, td {
    padding: 10px;
    text-align: center;

    &:first-child {
      text-align: left;
    }
  }

  thead {
    background-color: $table-bg-color;
  }

  th {
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    font-size: rem-calc(10);
    line-height: rem-calc(10);
  }
}
