
.game {
  position: fixed;
  height: 100%;
  width: 100%;

  .main-window {
    position: absolute;
    height: 85vh;
    width: 400px;
    top: 50%;
    left: $global-gutter;
    transform: translateY(-50%);
  }

}

.game-menu {
  min-width: 600px;
}
