
.game {
  position: fixed;
  height: 100%;
  width: 100%;

  .main-window {
    position: absolute;
    height: 85vh;
    width: 370px;
    top: 70px;
    right: $global-gutter;
  }
}

.game-menu {
  min-width: 600px;
}
