
.game {
  div[slot="content"] {
    .section-header + .alert-box {
      margin: rem-calc(10) 0;
    }
  }

  > .margin-wrap {
    flex-shrink: 0;
  }

  .game-content {
    display: flex;
    flex: 1;

    > .row {
      display: flex;
      flex: 1;

      > .columns {
        display: flex;
        flex-flow: column;

        &:first-child {
          flex: 0;
          padding-left: 0;

          > * {
            width: rem-calc(200);
          }
        }

        &:last-child {
          flex: 1;
          padding-right: 0;
        }
      }
    }

    .crawl-pane {
      flex: 0;

      .subtitle {
        i {
          line-height: 1.4;
          cursor: pointer;
        }
      }

      &:not(.loading) {
        margin-bottom: rem-calc(10);
        padding-bottom: rem-calc(14);
        border-bottom: $interfaceBorder;
      }

      .selected-crawl {
        .synopsis {
          @include multi-line-ellipsis($paragraphFontSize, $paragraphLineHeight, 3);
        }
      }
    }

    .players-pane {
      flex: 1;
      overflow-y: scroll;

      .player {
        padding: rem-calc(4) rem-calc(0);

        p {
          text-transform: uppercase;
          margin: 0;

          &.online {
            color: $playerColor;
          }
        }

        &.gm {
          p.online {
            color: $gameMasterColor;
          }
        }
      }
    }

    .chat-pane {
      display: flex;
      flex: 1;
      flex-flow: column;

      .chat-log {
        flex: 1;
        overflow-y: scroll;

        p {
          font-family: $headerFontFamily;
          text-transform: uppercase;
          margin-bottom: 0;

          .message-author {
            color: $chatAuthor;
          }

          .chat-accent {
            color: $chatAccent;
          }
        }

        .crawl-message {
          position: relative;
          min-height: rem-calc(40);

          p {
            padding-right: rem-calc(50);
          }

          button {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            height: rem-calc(40);
            width: rem-calc(38);
            padding: 0 0 0 rem-calc(2);
            border-radius: 50%;
            margin: 0;
          }
        }
      }

      .chat-entry {
        flex-shrink: 0;

        .dice-pool {
          .inline-list {
            margin-top: rem-calc(10);
            margin-bottom: 0;
          }
        }

        .chat-controls {
          padding-top: rem-calc(10);
        }

        .input-wrap {
          margin: 0;
        }

        .columns {
          button {
            width: 100%;
            margin: 0;
          }
        }
      }
    }
  }
}
