
<div class="game">
  <div class="controls">
    <button class="mini" v-if="userIsGameMaster" v-on:click="crawlModalOpen = true"><icon name="crawl"></i></button>
    <button class="mini" v-if="userIsGameMaster" v-on:click="playersModalOpen = true"><icon name="rebel"></i></button>
    <button class="mini" v-if="userIsGameMaster" v-on:click="settingsModalOpen = true"><icon name="empire"></i></button>
    <button class="mini" v-on:click="navigationOpen = true"><icon name="menu"></icon></butotn>
  </div>

  <panel>
    <div slot="content">
      <alert :alert.sync="gameAlert"></alert>
      <p>{{ game.title }}</p>
    </div>
  </panel>

  <modal :show.sync="crawlModalOpen" v-if="userIsGameMaster">
    <div slot="header">
      <h3>{{ game.title }} Crawls</h3>
      <p>Customizable introductory Star Wars crawl animations. Can be sent to the game's chat window or shared with players.</p>
    </div>
    <div slot="content">
      <crawl-menu :game.sync="game"></crawl-menu>
    </div>
  </modal>

  <modal :show.sync="playersModalOpen" v-if="userIsGameMaster">
    <div slot="header">
      <h3>{{ game.title }} Players</h3>
      <p>Add, approve, or remove players from the game.</p>
    </div>
    <div slot="content">
      <players-menu :game.sync="game"></players-menu>
    </div>
  </modal>

  <modal :show.sync="settingsModalOpen" v-if="userIsGameMaster">
    <div slot="header">
      <h3>{{ game.title }} Settings</h3>
      <p>Game specific settings and configuration.</p>
    </div>
    <div slot="content">
      <settings-menu :game.sync="game"></settings-menu>
    </div>
  </modal>

  <modal :show.sync="navigationOpen" modal-size="menu">
    <div slot="content">
      <section>
        <a href="/home" class="button expand">Games</a>
      </section>
      <section>
        <button v-show="!confirmLogout" type="button" class="expand" v-on:click="confirmLogout = true">Logout</button>
        <a v-show="confirmLogout" href="/logout" class="button expand warning">Confirm Logout</a>
      </section>
      <section>
        <button type="button" class="expand" v-on:click="navigationOpen = false, confirmLogout = false">Cancel</a>
      </section>
    </div>
  </modal>
</div>
