
<div class="game">
  <toolbar>
    <span slot="topbar">
      <md-button class="md-icon-button" v-if="userIsGameMaster" @click="openMenu('crawl')"><icon name="crawl"></icon></md-button>
      <md-button class="md-icon-button" v-if="userIsGameMaster" @click="openMenu('players')"><icon name="rebel"></icon></md-button>
      <md-button class="md-icon-button" v-if="userIsGameMaster" @click="openMenu('settings')"><icon name="empire"></icon></md-button>
    </span>
  </toolbar>

  <jukebox :playlist="playlist" ref="jukebox" @track-finished="trackFinished"></jukebox>

  <notification ref="notifications"></notification>

  <party :game="game" @error="notifyError"></party>

  <div class="panel main-window flex-column">
    <div class="chat-container fill-height">
      <chat v-if="gameLog.log" :log="gameLog.log" :game="game.id" @play-crawl="playCrawl"></chat>
      <md-spinner v-else :md-size="150" :md-stroke="1" md-indeterminate></md-spinner>
    </div>
    <div class="dice-pool-container no-shrink">
      <dice-pool ref="dicePool" :game="game.id" @error="notifyError"></dice-pool>
      <dice-controls @die-click="addDieToPool"></dice-controls>
    </div>
  </div>

  <star-wars-crawl
    :title="activeCrawl.title"
    :subtitle="activeCrawl.subtitle"
    :body="activeCrawl.crawl"
    :image="activeCrawl.image"
    @play-music="playMusic"
    @stop-music="stopMusic"
    ref="crawl">
  </star-wars-crawl>

  <md-dialog ref="crawlDialog" v-if="userIsGameMaster">
    <md-dialog-title>
      <p>{{ game.title }} Crawls</p>
      <p class="subtitle"><small>Customizable introductory Star Wars crawl animations. Can be sent to the game's chat window or shared with players.</small></p>
    </md-dialog-title>
    <md-dialog-content>
      <component
        is="crawlMenu"
        :game="game"
        @close="closeMenu('crawl')"
        @play-crawl="playCrawl"
        @error="notifyError">
      </component>
    </md-dialog-content>
  </md-dialog>

  <md-dialog ref="playersDialog" v-if="userIsGameMaster">
    <md-dialog-title>
      <p>{{ game.title }} Players</p>
      <p class="subtitle"><small>Add, approve, or remove players from the game.</small></p>
    </md-dialog-title>
    <md-dialog-content>
      <component
        is="playersMenu"
        :game="game"
        @close="closeMenu('players')"
        @error="notifyError">
      </component>
    </md-dialog-content>
  </md-dialog>

  <md-dialog ref="settingsDialog" v-if="userIsGameMaster">
    <md-dialog-title>
      <p>{{ game.title }} Settings</p>
      <p class="subtitle"><small>Game specific settings and configuration.</small></p>
    </md-dialog-title>
    <md-dialog-content>
      <component
        is="settingsMenu"
        :game="game"
        @close="closeMenu('settings')"
        @error="notifyError">
      </component>
    </md-dialog-content>
  </md-dialog>
</div>
