
.character-card {
  width: 700px;

  .heading {
    margin: 0;
    line-height: 40px;

    & + .md-spinner {
      margin-top: 10px;
    }
  }

  .card-content {
    height: 550px;
    // overflow: hidden;
  }

  .skill-shortcut {
    margin-top: 1px;
  }
}

.character-talent {
  margin-top: 1rem;
  padding-right: $panel-padding;

  .title, .description p {
    margin: 0;
  }
}




.character-skills-general {
  grid-area: general;
}

.character-skills-knowledge {
  grid-area: knowledge;
}

.character-skills-combat {
  grid-area: combat;
}

.character-skills-talents {
  grid-area: talents;
}

.character-skills-grid {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 180px calc(100% - 180px);
  grid-template-areas:
    "general knowledge combat"
    "general talents talents";
}


.character-notes-public {
  grid-area: public;
}

.character-notes-private {
  grid-area: private;
}

.character-notes-grid {
  display: grid;
  width: 100%;
  height: 100%;
  grid-row-gap: $panel-padding;
  grid-template-columns: 100%;
  grid-template-rows: 25% calc(75% - #{$panel-padding});
  grid-template-areas:
    "public"
    "private";
}


.character-dashboard-portrait {
  grid-area: portrait;
}

.character-dashboard-details {
  grid-area: details;
}

.character-dashboard-stats {
  grid-area: stats;
}

.character-dashboard-shortcuts {
  grid-area: shortcuts;
}

.character-dashboard-weapons {
  grid-area: weapons;
}

.character-dashboard-grid {
  display: grid;
  width: 100%;
  height: 100%;
  grid-column-gap: $panel-padding;
  grid-row-gap: $panel-padding;
  grid-template-columns: 30% calc(20% - #{$panel-padding}) calc(50% - #{$panel-padding});
  grid-template-rows: 10% calc(40% - #{$panel-padding}) calc(50% - #{$panel-padding});
  grid-template-areas:
    "portrait details details"
    "portrait stats stats"
    "shortcuts shortcuts weapons";
}
