
<transition name="slide-fade">
  <draggable-panel panel-id="character-card--test" v-show="show">
    <div class="card character-card" v-if="hasCharacter">

      <div class="flex-row">
        <h2 class="heading fill-width ellipsis">{{ character.name }}</h2>
        <md-spinner md-indeterminate :md-size="20" v-if="saving"></md-spinner>
        <md-button class="md-icon-button" @click.native="close()"><md-icon>close</md-icon></md-button>
      </div>

      <ul class="card-nav">
        <li :class="{ 'active': currentView === 'main' }">
          <md-button class="md-icon-button" @click.native="setView('main')"><icon name="user"></icon></md-button>
        </li>
        <li :class="{ 'active': currentView === 'skills' }">
          <md-button class="md-icon-button" @click.native="setView('skills')"><icon name="skills"></icon></md-button>
        </li>
        <li :class="{ 'active': currentView === 'inventory' }">
          <md-button class="md-icon-button" @click.native="setView('inventory')"><icon name="inventory"></icon></md-button>
        </li>
        <li :class="{ 'active': currentView === 'notes' }">
          <md-button class="md-icon-button" @click.native="setView('notes')"><icon name="notes"></icon></md-button>
        </li>
      </ul>

      <div class="card-content" v-if="currentView === 'main'">
        <div class="row">
          <div class="small-4 column">
            <image-finder aspect="portrait" v-model="character.imageUrl"></image-finder>
          </div>
          <div class="small-8 column"></div>
        </div>
      </div>

      <div class="card-content" v-show="currentView === 'skills'">
        <div class="row">
          <div class="small-4 column">
            <skill-shortcut
              v-for="(skill, index) in generalSkills"
              :name="skill.name"
              :ranks="skill.rank"
              :ability="character[skill.ability]"
              :key="skill.name"
              @click.native="rollSkill(skill)">
            </skill-shortcut>
          </div>
          <div class="small-8 column">
            <div class="row">
              <div class="small-6 column">
                <skill-shortcut
                  v-for="(skill, index) in knowledgeSkills"
                  :name="skill.name"
                  :ranks="skill.rank"
                  :ability="character[skill.ability]"
                  :key="skill.name"
                  @click.native="rollSkill(skill)">
                </skill-shortcut>
              </div>
              <div class="small-6 column">
                <skill-shortcut
                  v-for="(skill, index) in combatSkills"
                  :name="skill.name"
                  :ranks="skill.rank"
                  :ability="character[skill.ability]"
                  :key="skill.name"
                  @click.native="rollSkill(skill)">
                </skill-shortcut>
              </div>
            </div>
            abilities
          </div>
        </div>
      </div>

      <div class="card-content" v-show="currentView === 'inventory'">
        <div class="flex-column">
          <div class="flex-item-50">
            <div class="flex-column">
              <h3 class="no-shrink">Weapons</h3>
              <div class="flex-item fixed-header">
                <div class="header">
                  <div class="row">
                    <div class="small-4 columns">Name</div>
                    <div class="small-2 columns">Skill</div>
                    <div class="small-1 columns">Dmg</div>
                    <div class="small-1 columns">Crit</div>
                    <div class="small-2 columns">Range</div>
                    <div class="small-1 columns">Enc</div>
                    <div class="small-1 columns">
                      <icon name="user"></icon>
                      <md-tooltip md-direction="bottom">Equipped</md-tooltip>
                    </div>
                  </div>
                </div>
                <div class="scroll-content">
                  <div class="row">
                    <div class="small-4 columns">Lightsaber</div>
                    <div class="small-2 columns">lightsaber</div>
                    <div class="small-1 columns">6</div>
                    <div class="small-1 columns">2</div>
                    <div class="small-2 columns">engaged</div>
                    <div class="small-1 columns">1</div>
                    <div class="small-1 columns"><md-checkbox></md-checkbox></div>
                  </div>
                  <div class="row">
                    <div class="small-4 columns">Lightsaber</div>
                    <div class="small-2 columns">lightsaber</div>
                    <div class="small-1 columns">6</div>
                    <div class="small-1 columns">2</div>
                    <div class="small-2 columns">engaged</div>
                    <div class="small-1 columns">1</div>
                    <div class="small-1 columns"><md-checkbox></md-checkbox></div>
                  </div>
                  <div class="row">
                    <div class="small-4 columns">Lightsaber</div>
                    <div class="small-2 columns">lightsaber</div>
                    <div class="small-1 columns">6</div>
                    <div class="small-1 columns">2</div>
                    <div class="small-2 columns">engaged</div>
                    <div class="small-1 columns">1</div>
                    <div class="small-1 columns"><md-checkbox></md-checkbox></div>
                  </div>
                  <div class="row">
                    <div class="small-4 columns">Lightsaber</div>
                    <div class="small-2 columns">lightsaber</div>
                    <div class="small-1 columns">6</div>
                    <div class="small-1 columns">2</div>
                    <div class="small-2 columns">engaged</div>
                    <div class="small-1 columns">1</div>
                    <div class="small-1 columns"><md-checkbox></md-checkbox></div>
                  </div>
                  <div class="row">
                    <div class="small-4 columns">Lightsaber</div>
                    <div class="small-2 columns">lightsaber</div>
                    <div class="small-1 columns">6</div>
                    <div class="small-1 columns">2</div>
                    <div class="small-2 columns">engaged</div>
                    <div class="small-1 columns">1</div>
                    <div class="small-1 columns"><md-checkbox></md-checkbox></div>
                  </div>
                  <div class="row">
                    <div class="small-4 columns">Lightsaber</div>
                    <div class="small-2 columns">lightsaber</div>
                    <div class="small-1 columns">6</div>
                    <div class="small-1 columns">2</div>
                    <div class="small-2 columns">engaged</div>
                    <div class="small-1 columns">1</div>
                    <div class="small-1 columns"><md-checkbox></md-checkbox></div>
                  </div>
                  <div class="row">
                    <div class="small-4 columns">Lightsaber</div>
                    <div class="small-2 columns">lightsaber</div>
                    <div class="small-1 columns">6</div>
                    <div class="small-1 columns">2</div>
                    <div class="small-2 columns">engaged</div>
                    <div class="small-1 columns">1</div>
                    <div class="small-1 columns"><md-checkbox></md-checkbox></div>
                  </div>
                  <div class="row">
                    <div class="small-4 columns">Lightsaber</div>
                    <div class="small-2 columns">lightsaber</div>
                    <div class="small-1 columns">6</div>
                    <div class="small-1 columns">2</div>
                    <div class="small-2 columns">engaged</div>
                    <div class="small-1 columns">1</div>
                    <div class="small-1 columns"><md-checkbox></md-checkbox></div>
                  </div>
                </div>
                <!-- <th>Name</th>
                <th>Skill</th>
                <th>Damage</th>
                <th>Crit</th>
                <th>Range</th>
                <th>Encumbrance</th>
                <th>
                </th>
                <tr>
                  <td>Lightsaber</td> <td>lightsaber</td> <td>6</td> <td>2</td> <td>engaged</td> <td>1</td> <td><md-checkbox></md-checkbox></td>
                </tr> -->
              </div>
            </div>
          </div>
          <div class="flex-item-50">
            <div class="row">
              <div class="small-7 column">
                <p>Armor</p>
                <p>Armor</p>
                <p>Armor</p>
                <p>Armor</p>
                <p>Armor</p>
                <p>Armor</p>
                <p>Armor</p>
                <p>Armor</p>
                <p>Armor</p>
                <p>Armor</p>
                <p>Armor</p>
                <p>Armor</p>
                <p>Armor</p>
              </div>
              <div class="small-5 column"><p>Gear</p></div>
            </div>
          </div>
        </div>
      </div>

      <div class="card-content" v-show="currentView === 'notes'">
        <div class="row">Notes</div>
      </div>

    </div>
  </draggable-panel>
</transition>
