
<toolbar></toolbar>

<div class="row header-margin pad-bottom">
  <div class="small-12 column">
    <div class="panel content">

      <h1>Custom Icons</h1>
      <p>Custom icons can be used via the icon component.</p>
      <pre><code>&lt;icon name="icon-name"&gt;&lt;/icon&gt;</code></pre>

      <h3>Dice</h3>
      <div class="row small-up-3 medium-up-5 large-up-7 dev-icon-list">
        <div class="column">
          <div class="dev-icon-wrapper">
            <div class="dev-icon">
              <icon name="die-boost"></icon>
              <p>die-boost</p>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="dev-icon-wrapper">
            <div class="dev-icon">
              <icon name="die-ability"></icon>
              <p>die-ability</p>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="dev-icon-wrapper">
            <div class="dev-icon">
              <icon name="die-proficiency"></icon>
              <p>die-proficiency</p>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="dev-icon-wrapper">
            <div class="dev-icon">
              <icon name="die-setback"></icon>
              <p>die-setback</p>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="dev-icon-wrapper">
            <div class="dev-icon">
              <icon name="die-difficulty"></icon>
              <p>die-difficulty</p>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="dev-icon-wrapper">
            <div class="dev-icon">
              <icon name="die-challenge"></icon>
              <p>die-challenge</p>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="dev-icon-wrapper">
            <div class="dev-icon">
              <icon name="die-force"></icon>
              <p>die-force</p>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="dev-icon-wrapper">
            <div class="dev-icon">
              <icon name="die-percent"></icon>
              <p>die-percent</p>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="dev-icon-wrapper">
            <div class="dev-icon">
              <icon name="dice"></icon>
              <p>dice</p>
            </div>
          </div>
        </div>
      </div>

      <h3>Dice Results</h3>
      <div class="row small-up-3 medium-up-5 large-up-7 dev-icon-list">
        <div class="column">
          <div class="dev-icon-wrapper">
            <div class="dev-icon">
              <icon name="success"></icon>
              <p>success</p>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="dev-icon-wrapper">
            <div class="dev-icon">
              <icon name="advantage"></icon>
              <p>advantage</p>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="dev-icon-wrapper">
            <div class="dev-icon">
              <icon name="triumph"></icon>
              <p>triumph</p>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="dev-icon-wrapper">
            <div class="dev-icon">
              <icon name="failure"></icon>
              <p>failure</p>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="dev-icon-wrapper">
            <div class="dev-icon">
              <icon name="threat"></icon>
              <p>threat</p>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="dev-icon-wrapper">
            <div class="dev-icon">
              <icon name="despair"></icon>
              <p>despair</p>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="dev-icon-wrapper">
            <div class="dev-icon">
              <icon name="dark-side-point"></icon>
              <p>dark-side-point</p>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="dev-icon-wrapper">
            <div class="dev-icon">
              <icon name="light-side-point"></icon>
              <p>light-side-point</p>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="dev-icon-wrapper">
            <div class="dev-icon">
              <icon name="force-point"></icon>
              <p>force-point</p>
            </div>
          </div>
        </div>
      </div>

      <h3>Game</h3>
      <div class="row small-up-3 medium-up-5 large-up-7 dev-icon-list">
        <div class="column">
          <div class="dev-icon-wrapper">
            <div class="dev-icon">
              <icon name="skills"></icon>
              <p>skills</p>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="dev-icon-wrapper">
            <div class="dev-icon">
              <icon name="inventory"></icon>
              <p>inventory</p>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="dev-icon-wrapper">
            <div class="dev-icon">
              <icon name="notes"></icon>
              <p>notes</p>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="dev-icon-wrapper">
            <div class="dev-icon">
              <icon name="wounds"></icon>
              <p>wounds</p>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="dev-icon-wrapper">
            <div class="dev-icon">
              <icon name="strain"></icon>
              <p>strain</p>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="dev-icon-wrapper">
            <div class="dev-icon">
              <icon name="defense"></icon>
              <p>defense</p>
            </div>
          </div>
        </div>
      </div>

      <h3>Miscellaneous</h3>
      <div class="row small-up-3 medium-up-5 large-up-7 dev-icon-list">
        <div class="column">
          <div class="dev-icon-wrapper">
            <div class="dev-icon">
              <icon name="chevron-left"></icon>
              <p>chevron-left</p>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="dev-icon-wrapper">
            <div class="dev-icon">
              <icon name="chevron-right"></icon>
              <p>chevron-right</p>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="dev-icon-wrapper">
            <div class="dev-icon">
              <icon name="chevron-up"></icon>
              <p>chevron-up</p>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="dev-icon-wrapper">
            <div class="dev-icon">
              <icon name="chevron-down"></icon>
              <p>chevron-down</p>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="dev-icon-wrapper">
            <div class="dev-icon">
              <icon name="search"></icon>
              <p>search</p>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="dev-icon-wrapper">
            <div class="dev-icon">
              <icon name="volume-mute"></icon>
              <p>volume-mute</p>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="dev-icon-wrapper">
            <div class="dev-icon">
              <icon name="volume-low"></icon>
              <p>volume-low</p>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="dev-icon-wrapper">
            <div class="dev-icon">
              <icon name="volume-mid"></icon>
              <p>volume-mid</p>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="dev-icon-wrapper">
            <div class="dev-icon">
              <icon name="volume-high"></icon>
              <p>volume-high</p>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="dev-icon-wrapper">
            <div class="dev-icon">
              <icon name="menu"></icon>
              <p>menu</p>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="dev-icon-wrapper">
            <div class="dev-icon">
              <icon name="crawl"></icon>
              <p>crawl</p>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="dev-icon-wrapper">
            <div class="dev-icon">
              <icon name="empire"></icon>
              <p>empire</p>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="dev-icon-wrapper">
            <div class="dev-icon">
              <icon name="rebel"></icon>
              <p>rebel</p>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="dev-icon-wrapper">
            <div class="dev-icon">
              <icon name="dl44"></icon>
              <p>dl44</p>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="dev-icon-wrapper">
            <div class="dev-icon">
              <icon name="map"></icon>
              <p>map</p>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="dev-icon-wrapper">
            <div class="dev-icon">
              <icon name="add-to-map"></icon>
              <p>add-to-map</p>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="dev-icon-wrapper">
            <div class="dev-icon">
              <icon name="npc"></icon>
              <p>npc</p>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="dev-icon-wrapper">
            <div class="dev-icon">
              <icon name="add-npc"></icon>
              <p>add-npc</p>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="dev-icon-wrapper">
            <div class="dev-icon">
              <icon name="remove-npc"></icon>
              <p>remove-npc</p>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="dev-icon-wrapper">
            <div class="dev-icon">
              <icon name="clear-npc"></icon>
              <p>clear-npc</p>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="dev-icon-wrapper">
            <div class="dev-icon">
              <icon name="user"></icon>
              <p>user</p>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="dev-icon-wrapper">
            <div class="dev-icon">
              <icon name="users"></icon>
              <p>users</p>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="dev-icon-wrapper">
            <div class="dev-icon">
              <icon name="resize"></icon>
              <p>resize</p>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="dev-icon-wrapper">
            <div class="dev-icon">
              <icon name="grid"></icon>
              <p>grid</p>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="dev-icon-wrapper">
            <div class="dev-icon">
              <icon name="upgrade"></icon>
              <p>upgrade</p>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="dev-icon-wrapper">
            <div class="dev-icon">
              <icon name="add-upgrade"></icon>
              <p>add-upgrade</p>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="dev-icon-wrapper">
            <div class="dev-icon">
              <icon name="dark-destiny-token"></icon>
              <p>dark-destiny-token</p>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="dev-icon-wrapper">
            <div class="dev-icon">
              <icon name="light-destiny-token"></icon>
              <p>light-destiny-token</p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
