

/* Font Settings
-------------------------------- */

$fontFaceOpenSans: "Open Sans", sans-serif;
$fontFacePrototype: prototype, sans-serif;
$fontFaceNewsCycle: "News Cycle", sans-serif;

$bodyFontFamily: $fontFaceOpenSans;
$headerFontFamily: $fontFacePrototype;
$crawlFontFamily: $fontFaceNewsCycle;

/*
	Colors
	Use these in Usage below, not in stylesheets
*/

// Neutral
$white       : #ffffff;
$ghost       : #FAFAFA;
$vapor       : #F6F6F6;
$white-smoke : #F5F5F5;
$silver      : #EFEFEF;
$smoke       : #EEEEEE;
$gainsboro   : #DDDDDD;
$iron        : #CCCCCC;
$base        : #AAAAAA;
$aluminum    : #999999;
$jumbo       : #888888;
$monsoon     : #777777;
$steel       : #666666;
$charcoal    : #555555;
$tuatara     : #444444;
$oil         : #333333;
$jet         : #222222;
$black       : #000000;

$snow        : #FFFAFA;
$ghost-white : #FAFAFF;

// red
$crimson     : #760303;
$scarlet     : #f20606;

// blue
$navy-blue    : #023857;
$bluray-blue  : #047abe;

// yellow
$burnt-sienna : #795403;
$bumblebee   : #e9a105;

// green
$hunter-green : #024f18;
$ecto-green   : #04be39;

// // blue
// $blueSlate   : #708096;
// $stormySky   : #5E6C7F;
//
// /* Foundation Defaults */
// $periwinkle : #008CBA; // primary
// $limestone  : #e7e7e7; // secondary
// $clearsky   : #a0d3e8; // info
// $vermillion : #f04124; // alert
// $grass      : #43AC6A; // success
// $amber      : #f08a24; // warning
// /* Foundation Defaults End */
//
// /* star wars interface colors */
$maya-blue     : #83a9da;
$spring-green  : #50d991;
$sw-yellow     : #ffe81f;
// $lustRed      : #fb2815;
// $purple       : #A364EF;
$rebel-orange  : #f9731c;
$empire-red    : #bf1616;
// /* star wars interface colors end */

$crawl-color       : $sw-yellow;
$game-master-color : $empire-red;
$player-color      : $rebel-orange;

/* Usage */

$global-gutter: 30px;
$global-radius: 4px;

$text-color: rgba($black, .87);
$subheader-color: rgba($black, 0.54);

$paragraph-font-size: 14;
$paragraph-line-height: 20;

$hr-color: $silver;

$header-margin: 70px;

// Foundation Media Queries
// ---------------------------

// Here we define the breakpoints which will become the upper border for each media size.
// The function em-calc() calculates the em-value from a px-value.
$small-breakpoint:  em-calc(640)  !default;
$medium-breakpoint: em-calc(1024) !default;
$large-breakpoint:  em-calc(1440) !default;
$xlarge-breakpoint: em-calc(1920) !default;

// Here we define the lower and upper bounds for each media size
$small-range:   (0, $small-breakpoint) !default; /* 0, 640px */
$medium-range:  ($small-breakpoint  + em-calc(1), $medium-breakpoint) !default; /* 641px, 1024px */
$large-range:   ($medium-breakpoint + em-calc(1), $large-breakpoint)  !default; /* 1025px, 1440px */
$xlarge-range:  ($large-breakpoint  + em-calc(1), $xlarge-breakpoint) !default; /* 1441px, 1920px */
$xxlarge-range: ($xlarge-breakpoint + em-calc(1), em-calc(99999999)) !default; /* 1921px, ... */

$screen: "only screen" !default;

$landscape: "#{$screen} and (orientation: landscape)" !default;
$portrait: "#{$screen} and (orientation: portrait)" !default;

$small-up: $screen !default;
$small-only: "#{$screen} and (max-width: #{upper-bound($small-range)})" !default;

$medium-up: "#{$screen} and (min-width:#{lower-bound($medium-range)})" !default;
$medium-only: "#{$screen} and (min-width:#{lower-bound($medium-range)}) and (max-width:#{upper-bound($medium-range)})" !default;

$large-up: "#{$screen} and (min-width:#{lower-bound($large-range)})" !default;
$large-only: "#{$screen} and (min-width:#{lower-bound($large-range)}) and (max-width:#{upper-bound($large-range)})" !default;

$xlarge-up: "#{$screen} and (min-width:#{lower-bound($xlarge-range)})" !default;
$xlarge-only: "#{$screen} and (min-width:#{lower-bound($xlarge-range)}) and (max-width:#{upper-bound($xlarge-range)})" !default;

$xxlarge-up: "#{$screen} and (min-width:#{lower-bound($xxlarge-range)})" !default;
$xxlarge-only: "#{$screen} and (min-width:#{lower-bound($xxlarge-range)}) and (max-width:#{upper-bound($xxlarge-range)})" !default;


// Links
// ---------------------------

$link-color: lighten($navy-blue, 10%);
$link-color-hover: $navy-blue;


// Player Status
// ---------------------------

$player-status-offline: $smoke;
$player-status-online: $ecto-green;

// Page Controls
// ---------------------------

$page-controls-color: $maya-blue;

// Scrollbar
// ---------------------------

$scroll-bar-color: $base;

// Panel
// ---------------------------

$panel-bg-color: rgba($white, 0.95);
$panel-bg-color-dark: rgba($black, 0.6);
$panel-radius: $global-radius;
$panel-padding: $global-gutter / 2;

// Alert Box
// ---------------------------

$alert-box-radius: $global-radius;
$alert-box-padding: 20px;
$alert-message-padding: 2px;
$alert-transparency: 0.15;

$alert-text-color: $white;

$alert-bg-color: rgba($bluray-blue, $alert-transparency);
$alert-bg-color-success: rgba($ecto-green, $alert-transparency);
$alert-bg-color-warning: rgba($bumblebee, $alert-transparency);
$alert-bg-color-alert: rgba($scarlet, $alert-transparency);

$alert-text-color: $navy-blue;
$alert-text-color-success: $hunter-green;
$alert-text-color-warning: $burnt-sienna;
$alert-text-color-alert: $crimson;

// Notifications
// ---------------------------

$notifications-transparency: 0.6;

$notifications-text-color: $white;

$notifications-bg-color: rgba($bluray-blue, $notifications-transparency);
$notifications-bg-color-success: rgba($ecto-green, $notifications-transparency);
$notifications-bg-color-warning: rgba($bumblebee, $notifications-transparency);
$notifications-bg-color-alert: rgba($scarlet, $notifications-transparency);

// Chat
// ---------------------------

$chat-author-color: lighten($hunter-green, 5%);
$chat-timestamp-color: $jumbo;

$chat-crawl-message-bg-color: $alert-bg-color;
$chat-roll-message-bg-color: $alert-bg-color;
$chat-roll-success-message-bg-color: $alert-bg-color-success;
$chat-roll-failure-message-bg-color: $alert-bg-color-alert;
$chat-roll-label-color: $monsoon;

// Tabs
// ---------------------------

$tabs-background-color: transparent;
$tabs-header-color: rgba(0, 0, 0, .57);
$tabs-header-color-active: rgba(0, 0, 0, .87);

// Dice Controls
// ---------------------------

$dice-controls-icon-size: 30px;

// Dice Pool
// ---------------------------

$dice-pool-bg-color: $alert-bg-color-success;

// Character/NPCs
// ---------------------------

$character-skill-combat-bg: rgba(153, 153, 153, 0.1);

// Dev
// ---------------------------

$dev-bg-highlight: darken($smoke, 4%);
