
/* Function Factors
-------------------------------- */

$buttonFunctionFactor: -20%;
$panelFunctionFactor: -11%;

/* Global Settings
-------------------------------- */

$interfaceBorderNum: 2;
$interfaceBorderSize: to-px($interfaceBorderNum);
$interfaceBorderStyle: solid;

/* Font Settings
-------------------------------- */

$bodyFontFamily: "Open Sans", sans-serif;
$headerFontFamily: prototype, sans-serif;

/*
	Colors
	Use these in Usage below, not in stylesheets
*/

// Neutral
$white       : #ffffff;
$ghost       : #FAFAFA;
$snow        : #F9F9F9;
$vapor       : #F6F6F6;
$white-smoke : #F5F5F5;
$silver      : #EFEFEF;
$smoke       : #EEEEEE;
$gainsboro   : #DDDDDD;
$iron        : #CCCCCC;
$base        : #AAAAAA;
$aluminum    : #999999;
$jumbo       : #888888;
$monsoon     : #777777;
$steel       : #666666;
$charcoal    : #555555;
$tuatara     : #444444;
$oil         : #333333;
$jet         : #222222;
$black       : #000000;

// blue
$blueSlate   : #708096;
$stormySky   : #5E6C7F;

/* Foundation Defaults */
$periwinkle : #008CBA; // primary
$limestone  : #e7e7e7; // secondary
$clearsky   : #a0d3e8; // info
$vermillion : #f04124; // alert
$grass      : #43AC6A; // success
$amber      : #f08a24; // warning
/* Foundation Defaults End */

/* star wars interface colors */
$mayaBlue    : #83a9da;
$springGreen : #50d991;
$maizeYellow : #e1df70;
$lustRed     : #fb2815;
/* star wars interface colors end */

/* Usage */

$primaryColor   : $mayaBlue;
$secondaryColor : $limestone;
$alertColor     : $lustRed;
$successColor   : $springGreen;
$warningColor   : $maizeYellow;
$infoColor      : $clearsky;

/* Document
-------------------------------- */

$bodyBg         : $black;
$bodyFontColor  : $primaryColor;
$subtextColor   : $stormySky;
$scrollBarBg    : $primaryColor;

$zIndexModal    : 9000;
$zIndexOverlay  : 8000;
$zIndexDropdown : 7000;
$zIndexHeader   : 6000;
$zIndexFooter   : 5000;
$zIndexBeneath  : -1;

/* Grid
-------------------------------- */

$rowWidth     : 100%;
$columnGutter : rem-calc(30);

/* Typography
-------------------------------- */

$headerFontColor : $primaryColor;

/* Buttons
-------------------------------- */

$minButtonSize : rem-calc(44);

/* Panel
-------------------------------- */

$panelBgOpacity    : 0.6;
$panelBgColor      : $black;
$panelBg           : rgba($panelBgColor, $panelBgOpacity);
$panelBgZebra      : lighten($panelBg, 5%);
$panelBorderColor  : $mayaBlue;

$panelBevelSizeNum : 30;
$panelBevelSize    : rem-calc($panelBevelSizeNum);
$panelFontColor    : $bodyFontColor;
$panelBorderStyle  : $interfaceBorderStyle;
$panelBorderSize   : $interfaceBorderSize;

/* Inline Lists
-------------------------------- */

$inlineListDefaultFloatMargin     : rem-calc(-22);
$inlineListDefaultFloatListMargin : rem-calc(22);

/* Forms
-------------------------------- */

$formLabelFontColor    : $primaryColor;
$inputFontColor        : $primaryColor;
$inputBgColor          : transparent;
$inputHoverBgColor     : transparent;
$inputFocusBgColor     : transparent;
$inputBorderColor      : $primaryColor;
$inputFocusBorderColor : $primaryColor;
$inputDisabledBg       : transparent;
$placeholderColor      : rgba($primaryColor, 0.7);

$inputBorderStyle      : solid;
$inputBorderWidth      : 2px;
$inputBoxShadow        : none;
$inputOpacity          : 1;
$inputFocusOpacity     : 1;
$inputTransition       : 0.3s all linear;

$selectBgColor: $inputBgColor;
$selectHoverBgColor: $inputBgColor;

/* top-bar
-------------------------------- */

$topbarBgColor: rgba($panelBgColor, $panelBgOpacity);
$topbarLinkColor: $primaryColor;
$topbarLinkBg: transparent;
$topbarLinkBgHover: transparent;
$topbarLinkBgActive: transparent;
$topbarLinkBgActiveHover: $topbarLinkBgActive;
$topbarDropdownBg: transparent;
$topbarDropdownLinkColor: $topbarLinkColor;
$topbarDropdownLinkBg: transparent;

/* title-bar
-------------------------------- */

$titleBarBg           : $smoke;
$titleBarBorder       : $gainsboro;
$titleBarBgHover      : lighten($titleBarBg, 1%);
$titleBarBorderHover  : lighten($titleBarBorder, 1%);
$titleBarBgActive     : $titleBarBg;
$titleBarBorderActive : $titleBarBorder;
