
$counterInnerSize: rem-calc(24);

.die-counter {
  position: relative;
  display: inline-block;
  padding: rem-calc(4) rem-calc(8);

  svg {
    width: rem-calc(30);
    height: rem-calc(30);
    vertical-align: sub;
    margin-right: rem-calc(20);
  }

  .current-die-count {
    position: absolute;
    font-size: $counterInnerSize;
    top: 0;
    left: rem-calc(40);
  }

  .die-counter-controls {
    i {
      text-align: center;
      display: block;
      cursor: pointer;
      line-height: $counterInnerSize / 2;
      width: 100%;
      height: 50%;
    }
  }

  svg, .current-die-count, .die-counter-controls {
    display: inline-block;
  }
}
