

<div id="diceRoller">
  <div class="row">
    <div class="small-12 columns">
      <h2>Star Wars: Force and Destiny Dice Roller</h2>
    </div>
  </div>
  <dice-roller chat-handle="<%= chatHandle %>"></dice-roller>
</div>

