
<div class="combat-avatar" @mouseenter="enter" @mouseleave="leave">
  <div class="status-block" :style="{ 'height': avatarPx, 'width': avatarPx }">
    <div class="portrait" :style="{ 'background-image': avatarSrc }"></div>
    <div class="status-wrapper">
      <div class="health-wrapper">
        <div class="health-bar" :style="{ 'transform': healthRotation, 'background-color': healthColor }"></div>
      </div>
      <div :class="{ 'strain-wrapper': true, 'hide': totalStrain === 0 }">
        <div class="strain-bar" :style="{ 'transform': strainRotation, 'background-color': strainColor }"></div>
      </div>
    </div>
  </div>
  <transition name="zoom-in">
    <radial-menu v-if="showAdmin" v-show="hovering" :size="menuSize">
      <radial-menu-item :radius="menuSize" :position="325">
        <md-button class="md-icon-button overlay-button">
          <icon name="lightsabers"></icon>
          <md-tooltip md-delay="400" md-direction="top">Melee Attack</md-tooltip>
        </md-button>
      </radial-menu-item>
      <radial-menu-item :radius="menuSize" :position="0">
        <md-button class="md-icon-button overlay-button">
          <icon name="dl44"></icon>
          <md-tooltip md-delay="400" md-direction="top">Range Attack</md-tooltip>
        </md-button>
      </radial-menu-item>
      <radial-menu-item :radius="menuSize" :position="35">
        <md-button class="md-icon-button overlay-button" @click.native="showCard()">
          <icon name="npc"></icon>
          <md-tooltip md-delay="400" md-direction="top">Card</md-tooltip>
        </md-button>
      </radial-menu-item>
      <!-- strain -->
      <radial-menu-item v-if="totalStrain > 0 && currentStrain > 0" :radius="menuSize" :position="75">
        <md-button class="md-icon-button overlay-button" @click.native="heal('strain')">
          <icon name="chevron-up"></icon>
          <md-tooltip md-delay="400" md-direction="right">Heal Strain</md-tooltip>
        </md-button>
      </radial-menu-item>
      <radial-menu-item v-if="totalStrain > 0" :radius="menuSize" :position="105">
        <span class="maya-blue text-shadow">{{ totalStrain - currentStrain }}</span>
      </radial-menu-item>
      <radial-menu-item v-if="totalStrain > 0 && currentStrain < totalStrain" :radius="menuSize" :position="135">
        <md-button class="md-icon-button overlay-button" @click.native="damage('strain')">
          <icon name="chevron-down"></icon>
          <md-tooltip md-delay="400" md-direction="right">Damage Strain</md-tooltip>
        </md-button>
      </radial-menu-item>
      <!-- wounds -->
      <radial-menu-item v-if="currentHealth > 0" :radius="menuSize" :position="285">
        <md-button class="md-icon-button overlay-button" @click.native="heal('wounds')">
          <icon name="chevron-up"></icon>
          <md-tooltip md-delay="400" md-direction="left">Heal Wounds</md-tooltip>
        </md-button>
      </radial-menu-item>
      <radial-menu-item :radius="menuSize" :position="255">
        <span class="maya-blue text-shadow">{{ totalHealth - currentHealth }}</span>
      </radial-menu-item>
      <radial-menu-item v-if="currentHealth < totalHealth" :radius="menuSize" :position="225">
        <md-button class="md-icon-button overlay-button" @click.native="damage('wounds')">
          <icon name="chevron-down"></icon>
          <md-tooltip md-delay="400" md-direction="left">Damage Wounds</md-tooltip>
        </md-button>
      </radial-menu-item>
    </radial-menu>
  </transition>
</div>
