
.dice-pool {
  height: 50px;
  border-radius: $global-radius;
  background-color: $dice-pool-bg-color;
  position: relative;

  &.droppable {
    background-color: lighten($dice-pool-bg-color, 10%);
  }

  .current-pool {
    height: 100%;
    width: 100%;
    padding-right: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

    .die-block {
      cursor: pointer;
    }
  }

  .roll-button {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    padding: 0;

    svg {
      height: 35px;
      width: 35px;
    }
  }
}
