
<div :class="{ 'dice-pool': true, droppable: droppable }">
  <div class="current-pool"
    @dragover.prevent
    @dragenter.prevent="dragEnter"
    @dragleave.prevent="dragLeave"
    @drop="addDieByDrag">
    <span class="die-block" @click="decrement('ability')">
      <icon name="die-ability" v-for="n in dice.ability"></icon>
    </span>
    <span class="die-block" @click="decrement('proficiency')">
      <icon name="die-proficiency" v-for="n in dice.proficiency"></icon>
    </span>
    <span class="die-block" @click="decrement('difficulty')">
      <icon name="die-difficulty" v-for="n in dice.difficulty"></icon>
    </span>
    <span class="die-block" @click="decrement('challenge')">
      <icon name="die-challenge" v-for="n in dice.challenge"></icon>
    </span>
    <span class="die-block" @click="decrement('boost')">
      <icon name="die-boost" v-for="n in dice.boost"></icon>
    </span>
    <span class="die-block" @click="decrement('setback')">
      <icon name="die-setback" v-for="n in dice.setback"></icon>
    </span>
    <span class="die-block" @click="decrement('force')">
      <icon name="die-force" v-for="n in dice.force"></icon>
    </span>
  </div>
  <md-button class="md-icon-button roll-button" @click="roll()" v-if="!loading"><icon name="dice"></icon></md-button>
  <md-spinner :md-size="30" md-indeterminate v-if="loading"></md-spinner>
</div>
