
<label class="v-input">
  {{ label }} <span v-if="!required" class="right">optional</span>
  <div class="input-wrap">
    <i class="fa fa-{{ icon }}" v-if="icon"></i>
    <textarea v-if="type === 'textarea'"
      v-el:input
      :class="{ 'error': error.length > 0 }"
      name="{{ name }}"
      placeholder="{{ placeholder }}"
      v-model="value"
      v-on:blur="validate()"
      v-on:input="debounceValidate()"></textarea>
    <input v-else
      v-el:input
      :class="{ 'error': error.length > 0 }"
      name="{{ name }}"
      type="{{ type }}"
      placeholder="{{ placeholder }}"
      v-model="value"
      v-on:blur="validate()"
      v-on:input="debounceValidate()" />
    <small v-if="error.length > 0" transition="slide-up-x-small" class="error">{{ error }}</small>
  </div>
</label>
