
.chat-log {
  flex: 1;
  overflow-y: scroll;

  p {
    font-family: $headerFontFamily;
    text-transform: uppercase;
    margin-bottom: 0;

    &.message-timestamp {
      font-size: rem-calc(12);
      color: $chatTimestampColor;
    }

    .message-author {
      color: $chatAuthor;
    }

    .chat-accent {
      color: $chatAccent;
    }

    .icon-image {
      margin: 0 -1px;

      &.die-ability, &.die-difficulty {
        margin: 0 -3px;
      }
    }
  }

  .crawl-message {
    position: relative;
    min-height: rem-calc(40);

    p {
      padding-right: rem-calc(50);
    }

    button {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      height: rem-calc(40);
      width: rem-calc(38);
      padding: 0 0 0 rem-calc(2);
      border-radius: 50%;
      margin: 0;
    }
  }
}
