
/*
  this is temporary

  individual input styling should live
  in the component stylesheet
*/

select {
  background-image: $selectCaret;
  transition: 0.3s all linear;

  &:focus {
    outline: 0;
    box-shadow: $inputBoxShadow;
  }
}
