
.title-bar {
  background-color: $titleBarBg;
  padding: rem-calc(10) $columnGutter / 2;
  border-bottom: 1px solid $titleBarBorder;

  :last-child {
    margin-bottom: 0;
  }

  &.clickable {
    cursor: pointer;

    &:hover {
      background-color: $titleBarBgHover;
      border-bottom: 1px solid $titleBarBorderHover;
    }

    &:active {
      background-color: $titleBarBgActive;
      border-bottom: 1px solid $titleBarBorderActive;
    }
  }
}
