
<div class="user-profile">
  <toolbar></toolbar>

  <notification ref="notifications"></notification>

  <div class="row header-margin">
  	<div class="small-12 columns">

      <div class="panel">
        <div class="row content">
          <div class="small-12 medium-4 column">
            <div class="profile-picture" ref="profilePictureUpload">
              <img :src="userAvatar" />
              <transition-group name="fade">
                <md-spinner key="spinner" class="md-accent" :md-size="150" v-show="loadingUser" md-indeterminate></md-spinner>
                <md-progress key="progress" class="md-accent" :md-progress="uploadProgress" v-show="uploadInProgress"></md-progress>
              </transition-group>
            </div>
            <md-list>
              <md-list-item @click.native="setView('games')"><span>Games</span></md-list-item>
              <md-list-item @click.native="setView('characters')"><span>Characters</span></md-list-item>
              <md-list-item @click.native="setView('profile')"><span>Settings</span></md-list-item>
            </md-list>
          </div>
          <div class="small-12 medium-8 column">
            <h1 class="maya-blue">{{ user.chatHandle }}</h1>
            <h2 class="maya-blue">{{ user.email }}</h2>
            <div class="views">
              <transition name="fade" mode="out-in">
                <component :is="currentView" :games="myGames" @error="error" keep-alive></component>
              </transition>
            </div>
          </div>
        </div>
      </div>

  	</div>
  </div>

</div>
