
<draggable-panel panel-id="combatant-card">
  <div class="combatant-card">
    <div class="combatant-header">
          <div class="flex-row card-row">
            <h1 class="fill-width ellipsis match-icon-btn-height">Stormtrooper</h1>
            <md-button class="md-primary md-icon-button float-right" type="button"><md-icon>cached</md-icon></md-button>
          </div>
      <div class="row">
        <div class="small-4 column">
          <div class="avatar bg-image" style="background-image: url(https://cdn.thisiswhyimbroke.com/images/stormtrooper-helmet-replica-640x533.jpg)"></div>
        </div>
        <div class="small-8 column">
          <div class="row small-up-6">
            <div class="column">
              <card-stat heading="bra" :value="2"></card-stat>
            </div>
            <div class="column">
              <card-stat heading="agi" :value="3"></card-stat>
            </div>
            <div class="column">
              <card-stat heading="int" :value="4"></card-stat>
            </div>
            <div class="column">
              <card-stat heading="cun" :value="2"></card-stat>
            </div>
            <div class="column">
              <card-stat heading="will" :value="1"></card-stat>
            </div>
            <div class="column">
              <card-stat heading="pre" :value="3"></card-stat>
            </div>
            <div class="column">
              <card-stat heading="soak" :value="3"></card-stat>
            </div>
            <div class="column">
              <card-stat heading="wounds" :value="3" :total="11"></card-stat>
            </div>
            <div class="column">
              <card-stat heading="strain" :value="0" :total="0"></card-stat>
            </div>
            <div class="column">
              <card-stat heading="def (m)" :value="3"></card-stat>
            </div>
            <div class="column">
              <card-stat heading="def (r)" :value="3"></card-stat>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="small-12 column">
          <card-tabs>
            <card-tab name="Skills">
              <p>skills tab</p>
            </card-tab>
            <card-tab name="Talents/Abilities">
              <p>talents tab</p>
            </card-tab>
            <card-tab name="Force Powers">
              <p>force powers tab</p>
            </card-tab>
            <card-tab name="Weapons">
              <p>weapons tab</p>
            </card-tab>
            <card-tab name="Armor">
              <p>armor tab</p>
            </card-tab>
            <card-tab name="Gear">
              <p>gear tab</p>
            </card-tab>
          </card-tabs>
        </div>
      </div>
    </div>
  </div>
</draggable-panel>
