
<div class="full-size-abs v-center h-center">
  <div class="splash-page text-center">
    <svg width="1026" height="324">
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#swgt"></use>
    </svg>
    <md-theme md-name="starwars">
      <% if (session.authenticated) { %>
        <md-button href="/home" class="md-accent">My Games</md-button>
      <% } else { %>
        <md-button href="/login" class="md-accent">Login</md-button>
      <% } %>
    </md-theme>
  </div>
</div>

<%- partial('../components/disclaimer') %>
