
body {
  background-image: url('../images/bg-site-default.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow-x: hidden;
}

[contenteditable="true"] {
  padding: $contenteditable-padding;
  width: 100%;
  border-radius: 2px;
  transition: all 0.3s ease;

  &:hover, &:focus {
    background-color: $contenteditable-highlight;
  }

  &:focus {
    outline: 0;
    border: 1px solid darken($contenteditable-highlight, 5%);
  }

  .md-table-cell-container & {
    margin-left: -$contenteditable-padding;
    margin-right: -$contenteditable-padding;
  }
}
