
body {
  background-image: url('../images/bg-site-default.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow-x: hidden;
}

.header-margin {
  padding-top: 70px;
}

.gutter-top {
  margin-top: $global-gutter;
}

.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.md-tabs .md-tab {
  padding-left: 0;
  padding-right: 0;
}

.md-dialog-title {
  .subtitle {
    line-height: 1;
  }

  small {
    font-size: 65%;
  }
}

.md-list-item a {
  display: flex;
}

.md-avatar-icon.md-large {
  .md-icon {
    width: 64px;
    min-width: 64px;
    height: 64px;
    min-height: 64px;
    font-size: 64px;
    line-height: 64px;
  }
}

.md-tooltip {
  height: auto;
}

.md-dialog p {
  margin-bottom: 1rem;
}
