
.v-center, .h-center {
  display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	-ms-flex-align: center;
	-webkit-align-items: center;
	-webkit-box-align: center;
}

.v-center {
	align-items: center;
}

.h-center {
  justify-content: center;
}

.flex-column {
  flex-flow: column;
  height: 100%;

  .flex-item-50 {
    height: 50%;
  }
}

[class*="flex-item"] {
  display: flex;
}

.flex-row {
  min-width: 0;

  svg.icon-image + .md-input-container,
  .md-input-container + svg.icon-image {
    margin-left: 10px;
  }
}

.flex-column, .flex-row {
  display: flex;
  flex: 1;

  > .flex-item {
    display: flex;
  }

  > .fill-height, > .fill-width {
    display: flex;
    flex: 2;
  }

  > .no-shrink {
    flex: 0;
  }
}
