
.float-right {
  float: right;
}

.float-left {
  float: left;
}

.header-margin {
  padding-top: $header-margin;
}

.pad-left {
  padding-left: $global-gutter / 2;
}

.pad-right {
  padding-right: $global-gutter / 2;
}

.pad-sides {
  padding-left: -($global-gutter / 2);
  padding-right: -($global-gutter / 2);
}

.pad-top {
  margin-top: 1rem;
}

.pad-bottom {
  margin-bottom: 1rem;
}

.gutter-bottom {
  margin-bottom: $global-gutter;
}

.gutter-top {
  margin-top: $global-gutter;
}

.full-size-abs {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.bg-image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.mt-0 {
  margin-top: 0;
}

.mb-0 {
  margin-bottom: 0;
}
