
$material-icon-large-size: 78px;

.md-theme-default a:not(.md-button, .foo) {
  color: $link-color;

  &:hover {
    color: $link-color-hover;
  }
}

.md-dialog-title {
  .subtitle {
    line-height: 1;
  }

  small {
    font-size: 65%;
  }
}

.md-list-item a {
  display: flex;
}

.md-avatar-icon.md-large {
  .md-icon {
    width: $material-icon-large-size;
    min-width: $material-icon-large-size;
    height: $material-icon-large-size;
    min-height: $material-icon-large-size;
    font-size: $material-icon-large-size;
    line-height: $material-icon-large-size;
  }
}

.md-tooltip {
  height: auto;
}

.md-dialog p {
  margin-bottom: 1rem;
}

div.md-theme-default.md-tabs > .md-tabs-navigation.md-whiteframe {
  background-color: $tabs-background-color;

  .md-tab-header {
    color: $tabs-header-color;

    &.md-active {
      color: $tabs-header-color-active;
    }
  }
}

.md-input-container {
  .md-icon {
    position: absolute;
    right: 0;
    top: 16px;

    &:after {
      background: none !important; // VueMaterial fix
    }
  }
}
