
$material-icon-large-size: 78px;

.md-theme-default a:not(.md-button, .foo) {
  color: $link-color;

  &:hover {
    color: $link-color-hover;
  }
}

.md-dialog-title {
  .subtitle {
    line-height: 1;
  }

  small {
    font-size: 65%;
  }
}

.md-list-item a {
  display: flex;
}

.md-avatar-icon.md-large {
  .md-icon {
    width: $material-icon-large-size;
    min-width: $material-icon-large-size;
    height: $material-icon-large-size;
    min-height: $material-icon-large-size;
    font-size: $material-icon-large-size;
    line-height: $material-icon-large-size;
  }
}

.md-tooltip {
  height: auto;
}

.md-dialog p {
  margin-bottom: 1rem;
}

div.md-theme-default.md-tabs > .md-tabs-navigation.md-whiteframe {
  background-color: $tabs-background-color;

  .md-tab-header {
    color: $tabs-header-color;

    &.md-active {
      color: $tabs-header-color-active;
    }
  }
}

.md-input-container {
  &.fill-width + .md-button {
    margin-top: 20px;
  }

  .md-icon {
    position: absolute;
    right: 0;
    top: 16px;

    &:after {
      background: none !important; // VueMaterial fix
    }
  }
}

.md-dialog-content {
  .row {
    margin-left: -($global-gutter / 2);
    margin-right: -($global-gutter / 2);
  }
}

.md-table {
  .md-table-cell {
    vertical-align: top;

    .md-table-cell-container .flex-row > .icon-image {
      margin-top: 8px;
    }

    .md-input-container {
      margin: 0;
      padding: 0;
      min-height: 32px;
    }

    .md-table-cell-container {
      @media #{$medium-only} {
        padding-left: 20px;
        padding-right: 20px;
      }
      @media #{$small-only} {
        padding-left: 10px;
        padding-right: 10px;
      }
    }
  }
}

.md-card-actions {
  .md-switch {
    margin-left: 8px;
    margin-right: auto;
  }
}
