
a {
  cursor: pointer;

  &.form-link {
    line-height: 48px;
  }
}

.uppercase {
  text-transform: uppercase;
}

.empire {
  color: $empire-red;
}

.rebel {
  color: $rebel-orange;
}

.sw-yellow {
  color: $crawl-color;
}

.maya-blue {
  color: $maya-blue;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-outline {
  -webkit-text-stroke: 1px #000;
}

.text-shadow {
  text-shadow:
    0 0 3px #000,
    -2px -2px 2px #000,
    2px -2px 2px #000,
    -2px 2px 2px #000,
    2px 2px 2px #000;
}
