
a {
  cursor: pointer;

  &.form-link {
    line-height: 48px;
  }
}

.uppercase {
  text-transform: uppercase;
}

.empire {
  color: $empire-red;
}

.rebel {
  color: $rebel-orange;
}

.sw-yellow {
  color: $crawl-color;
}

.maya-blue {
  color: $maya-blue;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}
