
/* Colors
-------------------------------- */

/* Settings
-------------------------------- */

/* Styling
-------------------------------- */

.game-list {
  h3, .controls {
    margin: 0;
    line-height: 1.8rem;

    a {
      line-height: 1.8rem;
    }
  }

  p {
    padding-top: rem-calc(8);
    margin: 0;
  }

  .playerList {
    .gameMaster {
      color: $successColor;
    }
  }
}
