
/* Colors
-------------------------------- */

/* Settings
-------------------------------- */

/* Styling
-------------------------------- */

.game-list {
  > ul {
    margin: 0;

    > li {
      list-style: none;
      padding: rem-calc(10) rem-calc(20);

      &:nth-child(even) {
        background-color: rgba($primaryColor, 0.2);
      }

      h3, .controls {
        margin: 0;
        line-height: 1.8rem;

        a {
          line-height: 1.8rem;
        }
      }

      p {
        padding-top: rem-calc(8);
        margin: 0;
      }

      .playerList {
        .gameMaster {
          color: $successColor;
        }
      }
    }
  }
}
