
<div class="game-list">
  <ul class="zebra-list">
    <li v-for="game in games">
      <h3>{{ game.title }}</h3>
      <p class="playerList">
        <span class="gameMaster"><i class="fa fa-empire"></i> {{ game.gameMaster.chatHandle }}</span>
        <span class="players" v-if="game.players.length > 0"><i class="fa fa-users"></i> {{ game.players | joinedPlayerList }}</span>
      </p>
      <div v-if="user.id" class="controls">
        <button class="tiny" v-if="game | joinIsPending user" disabled>join request pending</button>
        <button class="tiny" v-if="game | canJoinGame user" v-on:click="joinGame(game)">join</button>
        <a class="button tiny" v-if="game | canLaunchGame user" href="{{ game | launchGameLink }}">launch</a>
      </div>
    </li>
  </ul>
</div>
