
<div class="game-list">
  <ul class="zebra-list">
    <li v-for="game in games">
      <div class="row">
        <div class="small-12 medium-8 columns">
          <h3>{{ game.title }}</h3>
        </div>
        <div class="small-12 medium-4 columns">
          <ul class="inline-list right controls">
            <li v-if="user.id && game | canJoinGame user"><a href="#">join</a></li>
            <li v-if="user.id && game | canLaunchGame user"><a href="{{ game | launchGameLink }}">launch</a></li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="small-12 columns">
          <p class="playerList">
            <span class="gameMaster"><i class="fa fa-empire"></i> {{ game.gameMaster.chatHandle }}</span>
            <span class="players" v-if="game.players.length > 0"><i class="fa fa-users"></i> {{ game.players | joinedPlayerList }}</span>
          </p>
        </div>
      </div>
    </li>
  </ul>
</div>
