
.jukebox {
  position: fixed;
  top: $page-controls-offset;
  left: $page-controls-offset;

  .volume-controls {
    svg.icon-image:not(.md-image) {
      fill: $page-controls-color;
    }

    input[type="range"] {
      opacity: 0;
      transform: translateX(-5px) translateY(-50%);
      transition: all 0.3s ease;
      position: absolute;
      top: 50%;
      left: 50px;
    }

    &:hover input[type="range"] {
      opacity: 1;
      transform: translateX(0) translateY(-50%);
    }
  }
}
