
/* Colors
-------------------------------- */

/* Settings
-------------------------------- */

$crawlBodyFontSize: $paragraphFontSize;
$crawlBodyLineHeight: $paragraphLineHeight;
$crawlBodyLinesToShow: 2;

/* Styling
-------------------------------- */

.crawl-description {
  .crawl-body {
    @include multi-line-ellipsis($crawlBodyFontSize, $crawlBodyLineHeight, $crawlBodyLinesToShow);
  }
}

.new-crawl {
  padding-top: rem-calc(20);

  textarea {
    min-height: rem-calc(150);
  }
}
