
$crawl-body-font-size: $paragraph-font-size;
$crawl-body-line-height: $paragraph-line-height;
$crawl-body-lines-to-show: 3;

.crawl-description {
  padding: 20px 0;

  img {
    max-height: rem-calc(125);
    display: block;
    margin: 0 auto;
  }

  .title {
    margin-bottom: 0;
  }

  .subtitle {
    margin-top: 0;
  }

  .crawl-body {
    @include multi-line-ellipsis($crawl-body-font-size, $crawl-body-line-height, $crawl-body-lines-to-show);
  }
}

.edit-crawl {
  padding: rem-calc(20) 0;

  textarea {
    min-height: rem-calc(150);
  }
}
