
/* Colors
-------------------------------- */

/* Settings
-------------------------------- */

$crawlBodyFontSize: $paragraphFontSize;
$crawlBodyLineHeight: $paragraphLineHeight;
$crawlBodyLinesToShow: 2;

/* Styling
-------------------------------- */

.crawl-description {
  img {
    max-height: rem-calc(125);
    display: block;
    margin: 0 auto;
  }

  .crawl-body {
    @include multi-line-ellipsis($crawlBodyFontSize, $crawlBodyLineHeight, $crawlBodyLinesToShow);
  }
}

.edit-crawl {
  padding: rem-calc(20) 0;

  textarea {
    min-height: rem-calc(150);
  }
}
