
.die-control {
  display: inline-block;
  border-radius: 50%;
  cursor: -webkit-grab;
  cursor: grab;

  svg.icon-image {
    height: $dice-controls-icon-size;
    width: $dice-controls-icon-size;
  }
}
